@import "../newlayout/global.css";
@import "equip.css";

#arena {
	height: calc(95% + 1.25rem);
}
#arena.oblongcard:not(.chess):not(.nome) {
	height: 95%;
}
#arena.oblongcard:not(.chess):not(.nome) #me,
#arena.oblongcard:not(.chess):not(.nome) #mebg {
	height: 8.75rem;
	bottom: .625rem;
}
#historybar {
	height: calc(95% - 10rem);
}
#window.oblongcard #historybar {
	height: calc(95% - 11.25rem);
}
#control {
	width: calc(5000% / 47 - 15rem);
	left: calc(-150% / 47 + 7.5rem);
	bottom: 9.375rem;
	height: 2.5rem;
}
#arena.choose-to-move > #control,
#arena.discard-player-card > #control,
#arena.gain-player-card > #control,
#arena.choose-player-card > #control {
	bottom: 1.875rem;
	transition: all 0s;
}

#arena.phone.discard-player-card > #control,
#arena.phone.gain-player-card > #control,
#arena.phone.choose-player-card > #control,
#arena.phone.choose-to-move > #control {
	bottom: 2.6875rem;
}

#arena.ipad.discard-player-card > #control,
#arena.ipad.gain-player-card > #control,
#arena.ipad.choose-player-card > #control,
#arena.ipad.choose-to-move > #control {
	bottom: 2.8125rem;
}
#arena:not(.chess) > #me,
#arena:not(.chess) > #mebg,
#arena:not(.chess) > #autonode {
	bottom: 1.875rem;
	width: calc(5000% / 47);
	left: calc(-150% / 47);
	top: auto;
	border-radius: 0 !important;
	height: 7.5rem;
}
#arena:not(.chess) > #autonode {
	width: calc(5000% / 47 - 15rem);
	left: calc(-150% / 47 + 7.5rem);
}
#window.leftbar #arena:not(.chess) > #me,
#window.leftbar #arena:not(.chess) > #mebg,
#window.leftbar #arena:not(.chess) > #autonode,
#window.leftbar #arena:not(.chess) .player[data-position="0"] {
	width: calc(5000% / 47 + 156.25rem / 47);
	left: calc(-150% / 47 - 3.125rem - 4.6875rem / 47);
}
#window.leftbar #arena:not(.chess) > #autonode {
	width: calc(5000% / 47 + 156.25rem / 47 - 15rem);
	left: calc(-150% / 47 - 3.125rem - 4.6875rem / 47 + 7.5rem);
}
#window.rightbar #arena:not(.chess) > #me,
#window.rightbar #arena:not(.chess) > #mebg,
#window.rightbar #arena:not(.chess) > #autonode,
#window.rightbar #arena:not(.chess) .player[data-position="0"] {
	width: calc(5000% / 47 + 156.25rem / 47);
	left: calc(-150% / 47 - 4.6875rem / 47);
}
#window.rightbar #arena:not(.chess) > #autonode {
	width: calc(5000% / 47 + 156.25rem / 47 - 15rem);
	left: calc(-150% / 47 - 4.6875rem / 47 + 7.5rem);
}
#arena:not(.chess) #handcards1 {
	height: 7.5rem;
	padding: 0;
	top: calc(100% - 7.5rem);
}
#arena:not(.chess):not(.single-handcard) #handcards1 {
	width: calc(100% - 15rem);
	left: 7.5rem;
}
#handcards2 {
	display: none;
}
/*#arena:not(.chess) .player[data-position='0']>.playerjiu{
    width: 7.5rem;
    border-radius: 0rem;
}*/
#arena:not(.chess) .player[data-position="0"].playerfocus {
	transform: scale(1);
}
#arena:not(.chess) .player[data-position="0"] > .equips > div:not(.equip5) {
	width: 2.8125rem;
	height: 2.8125rem;
	margin: 0;
	border-radius: .25rem;
	position: absolute;
}
#arena:not(.chess) .player[data-position="0"] > .equips > div:not(.equip5) > .image {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
#arena:not(.chess) .player[data-position="0"] > .equips > div:not(.equip5) > .name {
	display: block;
	transform: scale(0.43) !important;
	transform-origin: left top;
	left: .125rem;
	top: .1875rem;
}
#arena:not(.chess) .player[data-position="0"] > .equips > div:not(.equip5) > .name.long {
	top: .125rem;
}
#arena:not(.chess) .player[data-position="0"] > .equips > div:not(.equip5) > .info {
	display: block;
	transform: scale(0.43) !important;
	transform-origin: right top;
	right: .1875rem;
	top: .1875rem;
}
/*#arena.oblongcard:not(.chess) .player[data-position='0']>.equips>div:not(.equip5){
    height: 3.375rem;
}
#arena.oblongcard:not(.chess) .player[data-position='0']>.equips>div:not(.equip5)>.image{
    width: 120%;
    height: 100%;
    left: -20%;
    top: 0%;
}*/
#arena:not(.chess):not(.textequip) .player[data-position="0"] > .equips > div.legend {
	border: .0625rem solid rgb(192, 90, 255);
}
#arena:not(.chess):not(.textequip) .player[data-position="0"] > .equips > div.epic {
	border: .0625rem solid rgb(90, 171, 255);
}
#arena.mobile:not(.chess) .player[data-position="0"] > .equips > .equip5 {
	border-radius: 100%;
}
#arena:not(.chess) .player[data-position="0"] {
	width: calc(5000% / 47);
	left: calc(-150% / 47);
	height: 7.5rem;
	top: calc(100% - 9.375rem);
	background: none !important;
	border: none !important;
	border-radius: 0 !important;
	pointer-events: none;
}
#arena:not(.chess) .player[data-position="0"] > .turned {
	width: 7.5rem;
}
#arena:not(.chess) .player[data-position="0"] > .chain {
	width: 7.5rem;
}
#arena.oblongcard:not(.chess) .player[data-position="0"] {
	height: 8.75rem;
}

#arena:not(.chess) .player[data-position="0"].linked > .damage {
	transform: scale(0.7) rotate(0);
}
#arena:not(.chess) .player[data-position="0"].linked > .damage.damageadded {
	transform: scale(1) rotate(0);
}
#arena:not(.chess) .player[data-position="0"]:not(.selected):not(.selectedx):not(.selectable):not(.glow) {
	box-shadow: none !important;
}
#arena:not(.chess) .player[data-position="0"]:not(.minskin) > .avatar,
#arena:not(.chess) .player[data-position="0"]:not(.minskin) > .avatar2,
#arena:not(.chess) .player[data-position="0"]:not(.minskin) > .equips {
	width: 7.5rem;
	height: 100%;
	border-radius: 0rem !important;
	top: 0;
	left: 0;
	transition-property: opacity, transform;
	transition-duration: 0.5s;
	pointer-events: auto;
	/*-webkit-clip-path: polygon(-0.625rem 0, 8.125rem 0, 8.125rem 11.25rem, -0.625rem 11.25rem);*/
}
/*#window.compatiblemode #arena:not(.chess) .player[data-position='0']:not(.minskin)>.avatar,
#window.compatiblemode #arena:not(.chess) .player[data-position='0']:not(.minskin)>.avatar2,
#window.compatiblemode #arena:not(.chess) .player[data-position='0']:not(.minskin)>.equips{
    -webkit-clip-path: none;
}*/
#arena:not(.chess) .player[data-position="0"]:not(.minskin) > .identity {
	pointer-events: auto;
}
#arena:not(.chess) .player[data-position="0"]:not(.minskin) > .judges,
#arena:not(.chess) .player[data-position="0"]:not(.minskin) > .marks {
	pointer-events: auto;
}
#arena:not(.chess) .player[data-position="0"]:not(.minskin) > .equips {
	left: calc(100% - 7.5rem);
}
#arena:not(.chess) .player[data-position="0"] > .equips > .equip1 {
	top: .625rem;
	left: .625rem;
}
#arena:not(.chess) .player[data-position="0"] > .equips > .equip2 {
	top: .625rem;
	right: .625rem;
}
#arena:not(.chess) .player[data-position="0"] > .equips > .equip3 {
	bottom: .625rem;
	left: .625rem;
}
#arena:not(.chess) .player[data-position="0"] > .equips > .equip4 {
	bottom: .625rem;
	right: .625rem;
}
#arena:not(.chess) .player[data-position="0"] > .equips > .equip6 {
	bottom: .625rem;
	right: .625rem;
}

#arena:not(.chess) .player[data-position="0"] > .name,
#arena:not(.chess) .player[data-position="0"].linked > .name {
	left: .25rem;
	top: .625rem;
	transform: none;
}
#arena:not(.chess) .player[data-position="0"] > .nameol {
	display: none;
}
#arena:not(.chess) .player[data-position="0"] > .name.name2,
#arena:not(.chess) .player[data-position="0"].linked > .name.name2 {
	left: 4.3125rem;
}
#arena:not(.chess):not(.stone) .player[data-position="0"] > .identity {
	left: 0;
	width: 8.125rem;
}
#arena:not(.chess) .player[data-position="0"] > .damage {
	width: 7.5rem;
}
#arena:not(.chess) .player[data-position="0"].target {
	transform: none !important;
}
#arena:not(.chess) .player[data-position="0"] > .hp:not(.actcount) {
	bottom: .3125rem;
	left: 6.25rem;
}
#arena:not(.chess) .player[data-position="0"]:not(.minskin) > .count {
	bottom: .625rem;
	border-radius: 0 .125rem .125rem 0;
	left: -0.0625rem;
	z-index: 3;
	text-align: right;
}
#arena:not(.chess).slim_player .player[data-position="0"]:not(.minskin) > .count {
	border-radius: 0 .125rem .125rem 0;
	left: -0.0625rem;
	z-index: 3;
	text-align: right;
}
#arena:not(.chess) .player[data-position="0"] > .hp.actcount {
	top: .625rem;
	left: .125rem;
}

#arena:not(.chess) .player.fullskin2[data-position="0"]:not(.minskin) > .avatar,
#arena:not(.chess) .player.fullskin2[data-position="0"]:not(.minskin) > .avatar2 {
	width: 3.75rem;
	background-position: 50%;
}
#arena:not(.chess) .player.fullskin2[data-position="0"]:not(.minskin) > .avatar2 {
	left: 3.75rem;
	top: 0;
	z-index: 1;
}

.popup[data-position="0"] {
	top: calc(100% - 11.6875rem);
	left: calc(-150% / 47 + .9375rem);
}

#arena:not(.chess) .player[data-position="0"] > .judges {
	left: .375rem;
	top: -1rem;
	transform: none;
}
#arena:not(.chess) .player[data-position="0"] > .marks {
	right: -0.375rem;
	left: auto;
	top: -1rem;
	transform: none;
}

#arena:not(.chess) .player[data-position="0"].linked {
	transform: none;
}
#arena:not(.chess) .player[data-position="0"].linked .avatar,
#arena:not(.chess) .player[data-position="0"].linked .avatar2 {
	transform: rotate(-90deg);
}
#arena:not(.chess) .player[data-position="0"].fullskin2 .avatar {
	transform-origin: right center;
}
#arena:not(.chess) .player[data-position="0"].fullskin2 .avatar2 {
	transform-origin: left center;
}

.dialog {
	height: calc(100% - 23.125rem);
	bottom: 10.625rem;
}
.dialog.fullheight {
	height: calc(100% - 7.6875rem) !important;
	top: 2.5rem !important;
}

#me > .fakeme.avatar {
	width: 7.5rem;
	height: 100%;
	border-radius: 0rem;
	top: 0;
	left: 0;
	background-size: cover;
	clip-path: polygon(-0.625rem 0, 8.125rem 0, 8.125rem 9.375rem, -0.625rem 9.375rem);
	-webkit-clip-path: polygon(-0.625rem 0, 8.125rem 0, 8.125rem 9.375rem, -0.625rem 9.375rem);
}
#window[data-radius_size="increase"] #me > .fakeme.avatar,
#window[data-radius_size="reduce"] #me > .fakeme.avatar {
	border-radius: 0rem;
}

#arena.mobile.oblongcard:not(.chess):not(.textequip) .player[data-position="0"] > .equips > .equip1,
#arena.mobile.oblongcard:not(.chess):not(.textequip) .player[data-position="0"] > .equips > .equip2 {
	top: 1.25rem;
}
#arena.mobile.oblongcard:not(.chess):not(.textequip) .player[data-position="0"] > .equips > .equip3,
#arena.mobile.oblongcard:not(.chess):not(.textequip) .player[data-position="0"] > .equips > .equip4,
#arena.mobile.oblongcard:not(.chess):not(.textequip) .player[data-position="0"] > .equips > .equip6 {
	bottom: 1.25rem;
}

#arena.mobile.oblongcard.textequip:not(.chess) .player[data-position="0"] .equips > .removing {
	margin-top: -0.875rem !important;
	margin-bottom: -0.875rem !important;
	transform: scale(1);
}

#arena.mobile.oblongcard:not(.chess) #handcards1 {
	height: 100%;
	top: .125rem;
}
#arena.mobile.oblongcard:not(.chess) > .card,
#arena.mobile.oblongcard:not(.chess) .handcards > .card {
	height: 7.5rem;
}
#arena.mobile.oblongcard:not(.chess) > .card > .image,
#arena.mobile.oblongcard:not(.chess) .handcards > .card > .image {
	height: 6.875rem;
	top: .5rem;
	background-position-x: -0.1875rem;
}

#arena.phone.oblongcard:not(.chess):not(.nome) {
	height: calc(97% + .625rem);
}
