audio/*.TXT
image/*.TXT
extension/
!extension/boss/
!extension/cardpile/
!extension/coin/
!extension/3D精选/
!extension/杀海拾遗/
!extension/欢乐卡牌/
!extension/玩点论杀/
!extension/英雄杀/
._*
.DS_Store
.DS_Store?
.eslintcache
.idea
.Spotlight-V100
.Trashes
.vscode
app
app.html
dist
ehthumbs.db
Home
localStorage.json
/main.js
node_modules
noname.ico
package-lock.json
Thumbs.db
bun.lockb
game/*.zip
