.player {
	width: 9.375rem;
	height: 11.25rem;
}
.player .avatar {
	width: 8.125rem;
	height: 10rem;
}
#historybar {
	height: calc(90% - 1.5625rem);
}
#window > .player:not(.minskin) > .avatar,
#arena.slim_player .player:not(.minskin):not(.fakeme) .avatar {
	width: 8.5rem;
	height: 10.375rem;
	left: .4375rem;
	top: .4375rem;
}
#window[data-player_border="slim"] > .player:not(.minskin):not(.fakeme).connect > .avatar {
	width: 8.875rem;
	height: 10.75rem;
	left: .25rem;
	top: .25rem;
}
#arena.uslim_player .player:not(.minskin):not(.fakeme) .avatar {
	width: 9rem;
	height: 10.875rem;
	left: .1875rem;
	top: .1875rem;
}
#arena.mslim_player .player:not(.minskin):not(.fakeme) .avatar {
	width: 8.75rem;
	height: 10.625rem;
	left: .3125rem;
	top: .3125rem;
}
#arena.lslim_player .player:not(.minskin):not(.fakeme) .avatar {
	left: .3125rem;
	top: .3125rem;
}
#arena:not(.mobile).uslim_player .player:not(.minskin):not(.fakeme) .avatar,
#arena.mobile.uslim_player .player:not(.minskin):not(.fakeme):not(*[data-position="0"]) .avatar {
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 .0625rem;
}
#window > .player.minskin > .avatar {
	width: 6.625rem;
	height: 6.625rem;
	left: .4375rem;
	top: .4375rem;
}
.player.minskin {
	width: 7.5rem;
	height: 7.5rem;
	/*zoom:0.9;*/
}
.player.minskin .avatar {
	height: 6.25rem;
	width: 6.25rem;
}
#arena.slim_player .player.minskin:not(.fakeme) .avatar:not(.fakeme) {
	width: 6.625rem;
	height: 6.625rem;
	left: .4375rem;
	top: .4375rem;
}
#arena.uslim_player .player.minskin:not(.fakeme) .avatar:not(.fakeme) {
	width: 7.125rem;
	height: 7.125rem;
	left: .1875rem;
	top: .1875rem;
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 .0625rem;
}
#arena.mslim_player .player.minskin:not(.fakeme) .avatar:not(.fakeme) {
	width: 6.875rem;
	height: 6.875rem;
	left: .3125rem;
	top: .3125rem;
}
/*#arena.uslim_player .player.minskin:not(.fakeme) .avatar:not(.fakeme){
	left:.3125rem;
	top:.3125rem;
}*/
.player.minskin .hp,
.player.minskin .hp.text {
	left: 5.5rem;
}
#arena.slim_player .player.minskin .hp,
#arena.slim_player .player.minskin .hp.text {
	left: 5.6875rem;
}
.player .avatar2 {
	width: 3.25rem;
	height: 3.25rem;
	top: 4.5625rem;
	left: 5.75rem;
}
.player .avatar,
.player .avatar2 {
	transition-property: opacity;
}
.player .actcount.hp {
	top: 1.125rem;
	left: .9375rem;
	width: 7.5rem;
	bottom: auto;
	right: auto;
	text-align: left;
	transform: none;
}
#arena.slim_player .player .actcount.hp {
	left: .75rem;
	top: .9375rem;
}
.player.fullskin2 .avatar,
.player.fullskin2 .avatar2 {
	width: 4.0625rem;
	background-position: 50%;
}
#arena.slim_player .player.fullskin2:not(.minskin) .avatar,
#arena.slim_player .player.fullskin2:not(.minskin) .avatar2 {
	width: 4.25rem;
}
#arena.uslim_player .player.fullskin2:not(.minskin) .avatar,
#arena.uslim_player .player.fullskin2:not(.minskin) .avatar2 {
	width: 4.5rem;
}
#arena.mslim_player .player.fullskin2:not(.minskin) .avatar,
#arena.mslim_player .player.fullskin2:not(.minskin) .avatar2 {
	width: 4.375rem;
}
.player.fullskin2 .avatar {
	border-radius: .5rem 0 0 .5rem;
}
#window[data-radius_size="reduce"] .player.fullskin2 .avatar {
	border-radius: .25rem 0 0 .25rem;
}
#window[data-radius_size="off"] .player.fullskin2 .avatar {
	border-radius: 0 0 0 0;
}
#window[data-radius_size="increase"] .player.fullskin2 .avatar {
	border-radius: 1rem 0 0 1rem;
}
#window[data-radius_size="reduce"] .player.fullskin2 .avatar2 {
	border-radius: 0 .25rem .25rem 0;
}
#window[data-radius_size="off"] .player.fullskin2 .avatar2 {
	border-radius: 0 0 0 0;
}
#window[data-radius_size="increase"] .player.fullskin2 .avatar2 {
	border-radius: 0 1rem 1rem 0;
}
.player.fullskin2 .avatar2 {
	top: .625rem;
	left: auto;
	right: .625rem;
	height: 10rem;
	z-index: 1;
	border-radius: 0 .5rem .5rem 0;
}
#arena.slim_player .player.fullskin2:not(.minskin) .avatar2 {
	top: .4375rem;
	right: .4375rem;
	height: 10.375rem;
}
#arena.uslim_player .player.fullskin2:not(.minskin) .avatar2 {
	top: .1875rem;
	right: .1875rem;
	height: 10.875rem;
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 .0625rem;
}
#arena.mslim_player .player.fullskin2:not(.minskin) .avatar2 {
	top: .3125rem;
	right: .3125rem;
	height: 10.625rem;
}
#arena.lslim_player .player.fullskin2:not(.minskin) .avatar2 {
	top: .3125rem;
	right: .3125rem;
}
.player .marks,
.player .judges {
	width: 2.25rem;
	text-align: center;
	padding-bottom: .625rem;
}
.player .marks {
	left: -1.3125rem;
	top: .875rem;
	height: auto;
}
.player .judges {
	right: -2.0625rem;
	top: 1.625rem;
	left: auto;
}
.player:not(.linked2) .marks > div:first-child,
#arena:not(.nolink) .player .marks > div:first-child {
	transform: scale(0.2);
	opacity: 0;
	pointer-events: none;
}

.player .hp > div {
	width: .625rem;
	height: .625rem;
	margin-left: 0;
}
.player .hp {
	width: 1.125rem;
	line-height: 1rem;
	text-align: center;
	bottom: 1.125rem;
	top: auto;
	left: 7.375rem;
	z-index: 3;
	/*transform:rotate(180deg);*/
}
#arena.slim_player .player .hp,
#window > .player:not(.minskin) .hp {
	bottom: .9375rem;
	left: 7.5625rem;
}
#window > .player.minskin .hp {
	left: 5.6875rem;
}
.player .hp.text {
	font-family: "xinwei";
	/*font-size:1.375rem;*/
	transform: none;
	transition: all 0s;
	left: 7.125rem;
}
.player .hp.text > div:last-child {
	top: .25rem;
}
/*#arena.slim_player .player .hp.text{
	left:7.3125rem;
}*/
.player .hp.long {
	bottom: .75rem;
	max-height: 10rem;
}
#arena.slim_player .player .hp.long {
	bottom: .5625rem;
}
.player .hp.long > div:first-child {
	margin-top: .4375rem;
}

.player .intro {
	top: 6rem;
	left: 7.5rem;
}
.player .count {
	top: auto;
	bottom: 1.875rem;
	left: -0.1875rem;
	padding: .125rem;
	line-height: 1.25rem;
	width: .5rem;
	text-align: left;
	border-radius: .125rem;
	z-index: 1;
	border-radius: .1875rem 0 0 .1875rem;
	box-shadow: rgba(0, 0, 0, 0.2) .0625rem -0.0625rem .125rem inset, rgba(255, 255, 255, 0.15) -0.0625rem .0625rem .3125rem inset;
}
.player.topcount .count {
	border-radius: .125rem;
	text-align: center;
	z-index: 3;
}

#arena.mobile.uslim_player .player:not([data-position="0"]) > .count,
#arena.mobile.mslim_player .player:not([data-position="0"]) > .count,
#arena.mobile.lslim_player .player:not([data-position="0"]) > .count,
#arena.mobile.uslim_player.chess .player > .count,
#arena.mobile.mslim_player.chess .player > .count,
#arena.mobile.lslim_player.chess .player > .count,
#arena:not(.mobile).uslim_player .player > .count,
#arena:not(.mobile).mslim_player .player > .count,
#arena:not(.mobile).lslim_player .player > .count {
	z-index: 3 !important;
	border-radius: .125rem !important;
	text-align: center !important;
}
.player.unseen .count {
	border-radius: .1875rem;
	text-align: center;
}
#arena.slim_player .player .count {
	left: -0.375rem;
}
#arena.mslim_player .player .count {
	left: -0.3125rem;
}
.player .count.action {
	bottom: 3.75rem;
}
.player .count[data-condition="none"] {
	background: rgba(57, 123, 4, 1);
	border: .0625rem solid rgba(39, 79, 7, 1);
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
}
.player .count[data-condition="high"] {
	background: rgba(85, 134, 57, 1);
	border: .0625rem solid rgba(39, 79, 7, 1);
}
.player .count[data-condition="higher"] {
	background: rgba(63, 119, 173, 1);
	border: .0625rem solid rgba(31, 82, 131, 1);
}
.player .count[data-condition="mid"] {
	background: rgba(194, 167, 30, 1);
	border: .0625rem solid rgba(87, 71, 8, 1);
}
.player .count[data-condition="low"] {
	background: rgba(148, 27, 27, 1);
	border: .0625rem solid rgba(86, 9, 9, 1);
}

.player .identity {
	right: -0.375rem;
	top: -0.3125rem;
	left: auto;
}
.player.minskin .identity {
	left: 6.375rem;
}
.player.linked {
	transform: rotate(-90deg);
}
.player.linked > .judges,
.player.linked > .marks {
	transform: rotate(90deg) translateX(.625rem);
}
#arena[data-target_shake="shake"] .linked.target {
	transform: rotate(-93deg);
}
#arena[data-target_shake="shake"] .linked.target2 {
	transform: rotate(-87deg);
}

#arena[data-target_shake="zoom"] .linked.target,
#arena[data-target_shake="zoom"] .linked.target2 {
	transform: scale(1.03) rotate(-90deg);
}

.player.acted.linked .identity {
	transform: rotate(270deg);
}
.linked > .avatar,
.linked > .avatar2 {
	transform: rotate(0deg);
}
.linked > .avatar2 {
	top: 4.5625rem;
}
.linked > .identity {
	top: -0.3125rem;
}
.linked > .count {
	right: auto;
}

.player.linked > .name {
	transform-origin: top center;
	transform: rotate(90deg) translate(8.25rem, -6rem);
}
.player.linked > .name.name2 {
	transform: rotate(90deg) translate(6.875rem, -1.9375rem);
}
/*--------位置(n人)------*/

/*--------位置(8人)------*/
[data-number="8"] > .player[data-position="1"] {
	top: calc(200% / 3 - 10rem);
	left: calc(100% - 9.375rem);
}
[data-number="8"] > .player[data-position="2"] {
	top: calc(100% / 3 - 10.625rem);
	left: calc(100% - 9.375rem);
}
[data-number="8"] > .player[data-position="3"] {
	top: 0;
	left: calc(75% - 7.0313rem);
}
[data-number="8"] > .player[data-position="4"] {
	top: 0;
	left: calc(50% - 4.6875rem);
}
[data-number="8"] > .player[data-position="5"] {
	top: 0;
	left: calc(25% - 2.3438rem);
}
[data-number="8"] > .player[data-position="6"] {
	top: calc(100% / 3 - 10.625rem);
	left: 0;
}
[data-number="8"] > .player[data-position="7"] {
	top: calc(200% / 3 - 10rem);
	left: 0;
}
[data-number="8"] > .card[data-position="1"] {
	top: calc(200% / 3 - 7.625rem);
	left: calc(100% - 7.9375rem);
}
[data-number="8"] > .card[data-position="2"] {
	top: calc(100% / 3 - 8.25rem);
	left: calc(100% - 7.9375rem);
}
[data-number="8"] > .card[data-position="3"] {
	top: 2.375rem;
	left: calc(75% - 5.5938rem);
}
[data-number="8"] > .card[data-position="4"] {
	top: 2.375rem;
	left: calc(50% - 3.25rem);
}
[data-number="8"] > .card[data-position="5"] {
	top: 2.375rem;
	left: calc(25% - .9063rem);
}
[data-number="8"] > .card[data-position="6"] {
	top: calc(100% / 3 - 8.25rem);
	left: 1.4375rem;
}
[data-number="8"] > .card[data-position="7"] {
	top: calc(200% / 3 - 7.625rem);
	left: 1.4375rem;
}
[data-number="8"] > .popup[data-position="1"] {
	top: calc(200% / 3 - 9.375rem);
	left: calc(100% - 11.625rem);
}
[data-number="8"] > .popup[data-position="2"] {
	top: calc(100% / 3 - 10rem);
	left: calc(100% - 11.625rem);
}
[data-number="8"] > .popup[data-position="3"] {
	top: 11.875rem;
	left: calc(75% + .6563rem);
}
[data-number="8"] > .popup[data-position="4"] {
	top: 11.875rem;
	left: calc(50% - 3.8125rem);
}
[data-number="8"] > .popup[data-position="5"] {
	top: 11.875rem;
	left: calc(25% - 2.3438rem);
}
[data-number="8"] > .popup[data-position="6"] {
	top: calc(100% / 3 - 10rem);
	left: 10rem;
}
[data-number="8"] > .popup[data-position="7"] {
	top: calc(200% / 3 - 9.375rem);
	left: 10rem;
}
/*--------位置(7人)------*/
[data-number="7"] > .player[data-position="1"] {
	top: calc(200% / 3 - 10rem);
	left: calc(100% - 9.375rem);
}
[data-number="7"] > .player[data-position="2"] {
	top: calc(100% / 3 - 10.625rem);
	left: calc(100% - 9.375rem);
}
[data-number="7"] > .player[data-position="3"] {
	top: 0;
	left: calc(62.5% - 4.6875rem);
}
[data-number="7"] > .player[data-position="4"] {
	top: 0;
	left: calc(37.5% - 4.6875rem);
}
[data-number="7"] > .player[data-position="5"] {
	top: calc(100% / 3 - 10.625rem);
	left: 0;
}
[data-number="7"] > .player[data-position="6"] {
	top: calc(200% / 3 - 10rem);
	left: 0;
}
[data-number="7"] > .card[data-position="1"] {
	top: calc(200% / 3 - 7.625rem);
	left: calc(100% - 7.9375rem);
}
[data-number="7"] > .card[data-position="2"] {
	top: calc(100% / 3 - 8.25rem);
	left: calc(100% - 7.9375rem);
}
[data-number="7"] > .card[data-position="3"] {
	top: 2.375rem;
	left: calc(62.5% - 3.25rem);
}
[data-number="7"] > .card[data-position="4"] {
	top: 2.375rem;
	left: calc(37.5% - 3.25rem);
}
[data-number="7"] > .card[data-position="5"] {
	top: calc(100% / 3 - 8.25rem);
	left: 1.4375rem;
}
[data-number="7"] > .card[data-position="6"] {
	top: calc(200% / 3 - 7.625rem);
	left: 1.4375rem;
}
[data-number="7"] > .popup[data-position="1"] {
	top: calc(200% / 3 - 9.375rem);
	left: calc(100% - 11.625rem);
}
[data-number="7"] > .popup[data-position="2"] {
	top: calc(100% / 3 - 10rem);
	left: calc(100% - 11.625rem);
}
[data-number="7"] > .popup[data-position="3"] {
	top: 11.875rem;
	left: calc(62.5% + 3rem);
}
[data-number="7"] > .popup[data-position="4"] {
	top: 11.875rem;
	left: calc(37.5% - 4.6875rem);
}
[data-number="7"] > .popup[data-position="5"] {
	top: calc(100% / 3 - 10rem);
	left: 10rem;
}
[data-number="7"] > .popup[data-position="6"] {
	top: calc(200% / 3 - 9.375rem);
	left: 10rem;
}
/*--------位置(6人)------*/
[data-number="6"] > .player[data-position="1"] {
	top: calc(200% / 3 - 10rem);
	left: calc(100% - 9.375rem);
}
[data-number="6"] > .player[data-position="2"] {
	top: calc(100% / 3 - 10.625rem);
	left: calc(100% - 9.375rem);
}
[data-number="6"] > .player[data-position="3"] {
	top: 0;
	left: calc(50% - 4.6875rem);
}
[data-number="6"] > .player[data-position="4"] {
	top: calc(100% / 3 - 10.625rem);
	left: 0;
}
[data-number="6"] > .player[data-position="5"] {
	top: calc(200% / 3 - 10rem);
	left: 0;
}
[data-number="6"] > .card[data-position="1"] {
	top: calc(200% / 3 - 7.625rem);
	left: calc(100% - 7.9375rem);
}
[data-number="6"] > .card[data-position="2"] {
	top: calc(100% / 3 - 8.25rem);
	left: calc(100% - 7.9375rem);
}
[data-number="6"] > .card[data-position="3"] {
	top: 2.375rem;
	left: calc(50% - 3.25rem);
}
[data-number="6"] > .card[data-position="4"] {
	top: calc(100% / 3 - 8.25rem);
	left: 1.4375rem;
}
[data-number="6"] > .card[data-position="5"] {
	top: calc(200% / 3 - 7.625rem);
	left: 1.4375rem;
}
[data-number="6"] > .popup[data-position="1"] {
	top: calc(200% / 3 - 9.375rem);
	left: calc(100% - 11.625rem);
}
[data-number="6"] > .popup[data-position="2"] {
	top: calc(100% / 3 - 10rem);
	left: calc(100% - 11.625rem);
}
[data-number="6"] > .popup[data-position="3"] {
	top: 11.875rem;
	left: calc(50% - 3.8125rem);
}
[data-number="6"] > .popup[data-position="4"] {
	top: calc(100% / 3 - 10rem);
	left: 10rem;
}
[data-number="6"] > .popup[data-position="5"] {
	top: calc(200% / 3 - 9.375rem);
	left: 10rem;
}
/*--------位置(5人)------*/
[data-number="5"] > .player[data-position="1"] {
	top: calc(200% / 3 - 13.75rem);
	left: calc(100% - 9.375rem);
}
[data-number="5"] > .player[data-position="2"] {
	top: 0;
	left: calc(200% / 3 - 3.125rem);
}
[data-number="5"] > .player[data-position="3"] {
	top: 0;
	left: calc(100% / 3 - 6.25rem);
}
[data-number="5"] > .player[data-position="4"] {
	top: calc(200% / 3 - 13.75rem);
	left: 0;
}
[data-number="5"] > .card[data-position="1"] {
	top: calc(150% / 3 - 4.0625rem);
	left: calc(100% - 7.9375rem);
}
[data-number="5"] > .card[data-position="2"] {
	top: 2.375rem;
	left: calc(200% / 3 - 1.6875rem);
}
[data-number="5"] > .card[data-position="3"] {
	top: 2.375rem;
	left: calc(100% / 3 - 4.8125rem);
}
[data-number="5"] > .card[data-position="4"] {
	top: calc(150% / 3 - 4.0625rem);
	left: 1.4375rem;
}
[data-number="5"] > .popup[data-position="1"] {
	top: calc(200% / 3 - 13.125rem);
	left: calc(100% - 11.625rem);
}
[data-number="5"] > .popup[data-position="2"] {
	top: 11.875rem;
	left: calc(200% / 3 + 4.5625rem);
}
[data-number="5"] > .popup[data-position="3"] {
	top: 11.875rem;
	left: calc(100% / 3 - 6.25rem);
}
[data-number="5"] > .popup[data-position="4"] {
	top: calc(200% / 3 - 13.125rem);
	left: 10rem;
}
/*--------位置(4人)------*/
[data-number="4"] > .player[data-position="1"] {
	top: calc(100% / 3 - 2.5rem);
	left: calc(100% - 9.375rem);
}
[data-number="4"] > .player[data-position="2"] {
	top: 0;
	left: calc(50% - 4.6875rem);
}
[data-number="4"] > .player[data-position="3"] {
	top: calc(100% / 3 - 2.5rem);
	left: 0;
}
[data-number="4"] > .card[data-position="1"] {
	top: calc(100% / 3 - .125rem);
	left: calc(100% - 7.9375rem);
}
[data-number="4"] > .card[data-position="2"] {
	top: 2.375rem;
	left: calc(50% - 3.25rem);
}
[data-number="4"] > .card[data-position="3"] {
	top: calc(100% / 3 - .125rem);
	left: 1.4375rem;
}
[data-number="4"] > .popup[data-position="1"] {
	top: calc(100% / 3 - 1.875rem);
	left: calc(100% - 11.625rem);
}
[data-number="4"] > .popup[data-position="2"] {
	top: 11.875rem;
	left: calc(50% - 3.8125rem);
}
[data-number="4"] > .popup[data-position="3"] {
	top: calc(100% / 3 - 1.875rem);
	left: 10rem;
}
/*--------位置(3人)------*/
[data-number="3"] > .player[data-position="1"] {
	top: 1.25rem;
	left: calc(75% + 1.875rem);
}
[data-number="3"] > .player[data-position="2"] {
	top: 1.25rem;
	left: calc(25% - 11.25rem);
}
[data-number="3"] > .card[data-position="1"] {
	top: 3.625rem;
	left: calc(75% + 3.3125rem);
}
[data-number="3"] > .card[data-position="2"] {
	top: 3.625rem;
	left: calc(25% - 9.8125rem);
}
[data-number="3"] > .popup[data-position="1"] {
	top: 13.125rem;
	left: calc(75% + 9.5625rem);
}
[data-number="3"] > .popup[data-position="2"] {
	top: 13.125rem;
	left: calc(25% - 11.25rem);
}
/*--------位置(2人)------*/
[data-number="2"] > .player[data-position="1"] {
	top: 0;
	left: calc(50% - 4.6875rem);
}
[data-number="2"] > .card[data-position="1"] {
	top: 0;
	left: calc(50% - 3.25rem);
}
[data-number="2"] > .popup[data-position="1"] {
	top: 11.875rem;
	left: calc(50% - 3.8125rem);
}
/*--------位置(1人)------*/
.player[data-position="0"] {
	top: calc(100% - 10.625rem);
	left: calc(50% - 4.6875rem);
}
/*--------位置(联机)------*/
#window > .player.connect[data-position="c0"] {
	left: calc(50% - 15.9375rem);
	top: calc(50% - 5.625rem);
}
#window > .player.connect[data-position="c1"] {
	left: calc(50% - 4.6875rem);
	top: calc(50% - 5.625rem);
}
#window > .player.connect[data-position="c2"] {
	left: calc(50% + 6.5625rem);
	top: calc(50% - 5.625rem);
}
#window > .player.connect[data-position="c3"] {
	left: calc(50% - 15.9375rem);
	top: calc(50% - 5.625rem);
}
#window > .player.connect[data-position="c4"] {
	left: calc(50% - 4.6875rem);
	top: calc(50% - 5.625rem);
}
#window > .player.connect[data-position="c5"] {
	left: calc(50% + 6.5625rem);
	top: calc(50% - 5.625rem);
}

#window:not(.more_room) > .player.connect[data-position="c3"] {
	opacity: 0 !important;
	pointer-events: none;
	visibility: hidden;
}
#window:not(.more_room) > .player.connect[data-position="c4"] {
	opacity: 0 !important;
	pointer-events: none;
	visibility: hidden;
}
#window:not(.more_room) > .player.connect[data-position="c5"] {
	opacity: 0 !important;
	pointer-events: none;
	visibility: hidden;
}

#window.more_room > .player.connect[data-position="c0"] {
	transform: translateY(-6.5625rem);
}
#window.more_room > .player.connect[data-position="c1"] {
	transform: translateY(-6.5625rem);
}
#window.more_room > .player.connect[data-position="c2"] {
	transform: translateY(-6.5625rem);
}
#window.more_room > .player.connect[data-position="c3"] {
	transform: translateY(6.5625rem);
}
#window.more_room > .player.connect[data-position="c4"] {
	transform: translateY(6.5625rem);
}
#window.more_room > .player.connect[data-position="c5"] {
	transform: translateY(6.5625rem);
}

#window > .player.connect {
	width: 9.375rem;
}
.connectbutton {
	top: calc(500% / 7 + 5rem + .3125rem);
}

.card[data-position="0"] {
	top: calc(100% - 8.125rem);
	left: calc(50% - 3.25rem);
}
.popup[data-position="0"] {
	top: calc(100% - 12.875rem);
	left: calc(50% - 3.8125rem);
}
#me,
#mebg,
#autonode {
	top: calc(100% - 9.375rem);
}
#handcards1,
#handcards2 {
	width: calc(50% - 5.9375rem);
	height: 7.9375rem;
	padding: .625rem;
}
#handcards2 {
	left: calc(50% + 4.6875rem);
}
.dialog {
	width: calc(90% - 18.75rem);
	left: calc(5% + 9.375rem);
	top: auto;
	bottom: 11.5625rem;
	height: calc(100% - 24.0625rem);
	z-index: 4;
}
.dialog.nobutton {
	bottom: auto !important;
	top: 12.5rem !important;
}
#arena.stone:not(.choose-character) .dialog {
	width: calc(90% - 27.5rem);
	left: calc(5% + 13.75rem);
}
.dialog.removing {
	top: auto;
}
#control {
	z-index: 5;
	top: auto;
	bottom: 13.125rem;
	width: calc(100% - 18.75rem);
	left: 9.375rem;
}
#arena.discard-player-card > #control,
#arena.gain-player-card > #control,
#arena.choose-player-card > #control,
#arena.choose-to-move > #control {
	bottom: 1.875rem;
	transition: all 0s;
}
#arena.phone.discard-player-card > #control,
#arena.phone.gain-player-card > #control,
#arena.phone.choose-player-card > #control,
#arena.phone.choose-to-move > #control {
	bottom: 2.6875rem;
}
#arena.ipad.discard-player-card > #control,
#arena.ipad.gain-player-card > #control,
#arena.ipad.choose-player-card > #control,
#arena.ipad.choose-to-move > #control {
	bottom: 2.8125rem;
}
.popup {
	z-index: 6;
}
.dialog.scroll1,
.dialog.scroll2,
.dialog.withbg {
	background: rgba(0, 0, 0, 0.2);
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 .0625rem;
	min-height: 12.5rem;
}
.dialog > .bar {
	display: none !important;
}
.dialog > .content-container {
	height: 100%;
	top: 0;
}

.bordered {
	border: .0625rem solid white;
	box-shadow: black 0 0 .125rem;
}

#window.low_performance #arena .player:not([data-position="0"]) .equips > .card,
#window.low_performance #arena.chess .player .equips > .card {
	animation: game_start 0.5s !important;
	-webkit-animation: game_start 0.5s !important;
}

@media screen and (min-width: 71.875rem) {
	.dialog {
		width: 39.375rem;
		left: calc(50% - 19.6875rem);
	}
	.dialog.bosscharacter {
		width: 45.9375rem;
		left: calc(50% - 22.9688rem);
	}
	#arena.stone:not(.choose-character) .dialog {
		width: calc(90% - 27.5rem);
		left: calc(5% + 13.75rem);
	}
}

@keyframes card_start2x {
	from {
		opacity: 0;
		margin-top: -0.8125rem;
		margin-bottom: -0.6875rem;
	}
}
@keyframes card_start2xx {
	from {
		opacity: 0;
		margin-top: -0.75rem;
		margin-bottom: -0.75rem;
		transform: scale(0);
	}
}
@keyframes card_start2xxx {
	from {
		opacity: 0;
		margin-top: -0.75rem;
		margin-bottom: -0.75rem;
		transform: scale(0) rotate(90deg);
	}
}

@-webkit-keyframes card_start2x {
	from {
		opacity: 0;
		margin-top: -0.8125rem;
		margin-bottom: -0.6875rem;
	}
}
@-webkit-keyframes card_start2xx {
	from {
		opacity: 0;
		margin-top: -0.75rem;
		margin-bottom: -0.75rem;
		transform: scale(0);
	}
}
@-webkit-keyframes card_start2xxx {
	from {
		opacity: 0;
		margin-top: -0.75rem;
		margin-bottom: -0.75rem;
		transform: scale(0) rotate(90deg);
	}
}
