.menu-container {
	z-index: 8;
}

.menu-container div {
	position: relative;
}

.menu-container.hidden {
	pointer-events: none;
}

#menu-button {
	z-index: 6;
}

.popup-container {
	z-index: 10;
}

.popup-container.filter-character {
	text-align: center;
	overflow: scroll;
	opacity: 0;
	transition: all 0.3s;
}

.popup-container.filter-character.shown {
	opacity: 1;
}

.popup-container.filter-character.removing > div {
	pointer-events: none;
}

.popup-container.filter-character > div {
	left: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	transition: all 0s;
	position: relative;
}

.popup-container.filter-character > div > div {
	position: relative;
	margin: .625rem;
}

.popup-container.filter-character > div > .capt {
	width: 5rem;
	height: 5rem;
	padding: 0;
	font-size: 3.75rem;
	line-height: 5.625rem;
}

.menu-container,
.popup-container {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
}

.menu-buttons,
.menu-sym {
	padding-bottom: .3125rem !important;
	width: calc(100% - .625rem) !important;
	padding-right: .3125rem !important;
}

.menu-buttons.leftbutton {
	text-align: left;
	margin-left: .625rem;
}

.menu-buttons.leftbutton:not(.commandbutton) {
	width: calc(100% - 1.875rem) !important;
}

.menu.main > .menu-content > div > .right.pane > .menu-buttons.leftbutton > .config.toggle:first-child,
.menu.main
	> .menu-content
	> div
	> .right.pane
	> .menu-buttons.leftbutton
	> .config.toggle:first-child
	+ .config.toggle {
	margin-left: .1875rem !important;
	width: calc(100% - .9375rem) !important;
}

.menu-buttons div {
	position: absolute;
}

.menu-buttons > .glow {
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 .0625rem, rgba(0, 133, 255, 0.8) 0 0 .625rem, rgba(0, 133, 255, 0.8) 0 0 .625rem,
		rgba(0, 133, 255, 0.8) 0 0 .9375rem !important;
}

.menu-cheat > div {
	margin: .3125rem;
}

.menu-cheat > .selecting {
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 .0625rem, rgba(255, 0, 0, 0.8) 0 0 .3125rem, rgba(255, 0, 0, 0.8) 0 0 .3125rem !important;
}

.menu-cheat.config > .menubutton {
	height: 1rem;
	line-height: 1rem;
	transform: translateY(-0.625rem);
}

.menu-cheat.config {
	transition-property: opacity;
}

.menu-buttons > .toggle,
.menu-buttons > .config.more {
	position: relative;
	margin-bottom: .625rem !important;
	margin-left: .625rem !important;
	margin-right: .625rem !important;
	width: calc(100% - 1.5625rem) !important;
	display: inline-block;
}

.menu-buttons > .config.more,
.menu-buttons > .toggle.cardpilecfg {
	margin-bottom: 0 !important;
	display: block;
}

.menu-buttons > .config.more.pile {
	margin-top: .3125rem !important;
	margin-left: .1875rem !important;
}

.menu-buttons > .toggle.cardpilecfgadd:not(.hidden) {
	margin-top: 0 !important;
}

.menu-buttons > .toggle.cardpilecfg:not(.nomarginleft) {
	margin-left: 1.25rem !important;
	width: calc(100% - 2.1875rem) !important;
}

.menu-buttons > .config.more * {
	position: relative;
}

.menu-buttons > .button {
	zoom: 0.75;
}

.menu-buttons .cardpiledelete,
.toggle > .cardpiledelete {
	position: relative;
	float: right;
	margin-right: .25rem;
}

.menu-buttons .menuplaceholder {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: .625rem;
}

.menu-buttons .menuplaceholder.slim {
	height: .3125rem;
}

#window:not(.nopointer) .cardpiledelete {
	cursor: pointer;
}

.menu-help {
	width: calc(100% - 1.875rem) !important;
	text-align: left !important;
}

.menu-help li {
	margin-bottom: .625rem !important;
}

.menu-container > .menu.main {
	left: .9375rem;
	top: 3.25rem;
}

.menu-container > .menu.main.center {
	left: calc(50% - 12.5rem);
	top: calc(50% - 9.375rem);
}

.menu-container.hidden > .menu.main {
	transform: scale(0.5);
	transform-origin: .125rem -2.1875rem;
	opacity: 0;
}

.menu-container > .menu.main {
	transition: all 0.3s;
	transform-origin: .125rem -2.1875rem;
}

.menu-container.hidden > .menu.main.center {
	/*transform:translateY(18.75rem);*/
	transform-origin: center center;
}

.menu-container > .menu.main.center {
	transform-origin: center center;
}

.menu.main {
	width: 25rem;
	height: 18.75rem;
	position: absolute;
	overflow: hidden;
	padding: 0;
}

.removing > .menubg.charactercard {
	transform: scale(0.8);
	opacity: 0;
	transition: all 0.3s;
}

.menubg.charactercard {
	width: 31.25rem;
	height: 18.75rem;
	left: calc(50% - 15.625rem);
	top: calc(50% - 9.375rem);
	animation: dialog_start2 0.3s;
	-webkit-animation: dialog_start2 0.3s;
}

.menubg.charactercard > .menubutton.large.ava {
	width: 11.25rem;
	height: 15rem;
	left: .625rem;
	top: .625rem;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 .0625rem, rgba(0, 0, 0, 0.45) 0 0 .3125rem !important;
}

.menubg.charactercard > .menubutton.large {
	width: 5.3125rem;
	height: 1.875rem;
	bottom: .625rem;
	line-height: 1.875rem;
	padding: 0;
	font-size: 1.25rem;
}

.menubg.charactercard > .menubutton.ban {
	left: .625rem;
}

.menubg.charactercard > .menubutton.fav {
	left: 6.5625rem;
}

.menubg.charactercard > .ava > .changeskin {
	bottom: .375rem;
	left: .375rem;
	font-family: "xinwei";
	font-size: 1rem;
	z-index: 2;
	color: white;
	text-shadow: black 0 0 .125rem;
	height: 1rem;
	line-height: 1rem;
	pointer-events: none;
	opacity: 0.6;
}

.menubg.charactercard > .ava > .changeskin2 {
	bottom: .375rem;
	right: .375rem;
	font-family: "xinwei";
	font-size: 1rem;
	z-index: 2;
	color: white;
	text-shadow: black 0 0 .125rem;
	height: 1rem;
	line-height: 1rem;
	opacity: 0.6;
}

#window:not(.nopointer) .menubg.charactercard .menubutton:not(.ava):not(.intro):not(.unselectable),
#window:not(.nopointer) .menubg.charactercard > .ava > .avatars > div {
	cursor: pointer;
}

.menubg.charactercard > .characterskill {
	left: 11.9375rem;
	padding-left: .5625rem;
	padding-right: .625rem;
	width: 18.125rem;
	top: 7.8125rem;
	height: 3.125rem;
	white-space: nowrap;
	overflow-x: scroll;
}

.menubg.charactercard > .characterskill > .menubutton.large {
	height: 1.25rem;
	line-height: 1.25rem;
	padding: .3125rem;
	margin-top: .625rem;
	position: relative;
	font-size: 1.25rem;
	margin-right: .625rem;
}

.menubg.charactercard .characterintro .character-group img,
.menubg.charactercard .characterintro .character-sex img {
	height: 1em;
	margin-left: 0.25em;
	margin-right: 0.25em;
	transform: scale(1.5);
	vertical-align: bottom;
}

.menubg.charactercard .characterintro .character-intro-table {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	padding-left: 0.5em;
	padding-right: 0.5em;
	white-space: nowrap;
}

@supports (row-gap: 0.5em) {
	.menubg.charactercard .characterintro .character-intro-table {
		column-gap: 1em;
		row-gap: 0.5em;
	}
}

@supports not (row-gap: 0.5em) {
	.menubg.charactercard .characterintro .character-intro-table > :last-child {
		margin-bottom: 0.5em;
		margin-top: 0.5em;
	}

	.menubg.charactercard .characterintro .character-intro-table > :not(:first-child) {
		margin-left: 0.5em;
	}

	.menubg.charactercard .characterintro .character-intro-table > :not(:last-child) {
		margin-right: 0.5em;
	}
}

.menubg.charactercard .characterintro .hp {
	height: initial;
	left: initial;
	top: initial;
	width: initial;
}

.menubg.charactercard .characterintro .hp > div:first-child {
	margin-left: initial;
}

.menubg.charactercard .characterintro .hp > div:nth-child(odd) {
	height: .625rem;
	width: .625rem;
}

.menubg.charactercard .characterintro .hp > div.text {
	background: none !important;
	border: none !important;
	box-shadow: none !important;
	filter: initial !important;
	-webkit-filter: initial !important;
	font-family: "xinwei" !important;
	transform: initial !important;
	height: initial !important;
	width: initial !important;
}

.menubg.charactercard .characterintro div {
	position: initial;
}

.menubg.charactercard .characterintro rp,
.menubg.charactercard .characterintro rt {
	font-size: smaller;
}

.menubg.charactercard .characterintro {
	left: 12.5rem;
	width: 17.5rem;
	height: 6.5625rem;
	padding: .3125rem;
	overflow: scroll;
	border-radius: .25rem;
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 .0625rem;
}

.menubg.charactercard .characterintro:not(.intro2) {
	top: .625rem;
	bottom: auto;
}

.menubg.charactercard .characterintro.intro2 {
	top: auto;
	bottom: .625rem;
}

.menubg.charactercard > .ava > .avatars {
	opacity: 0;
	pointer-events: none;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	line-height: 0;
	text-align: left;
	transform: scale(0.8);
}

.menubg.charactercard > .ava > .avatars.scroll {
	overflow: scroll;
}

.menubg.charactercard > .ava > .avatars > div {
	position: relative;
	margin: .1875rem;
	width: 5.0625rem;
	height: 6.9375rem;
	border-radius: .25rem;
	background-size: cover;
	background-position: 50% 0;
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 .0625rem, rgba(0, 0, 0, 0.45) 0 0 .3125rem;
}

.menubg.charactercard > .ava > .avatars > div:first-child,
.menubg.charactercard > .ava > .avatars > div:first-child + div {
	margin-top: .375rem;
}

.menubg.charactercard > .ava > .avatars > div:nth-of-type(odd) {
	margin-left: .375rem;
}

.menubg.charactercard > .ava.scroll > .avatars {
	opacity: 1;
	pointer-events: auto;
	transform: scale(1);
}

.menubg.charactercard > .ava.scroll > .changeskin {
	opacity: 0;
}

.menubg.charactercard > .ava.scroll > .avatar {
	transform: translateX(-12.5rem);
	pointer-events: none;
}

.menubg.charactercard > .ava > .avatar {
	left: .3125rem;
	top: .3125rem;
	width: calc(100% - .625rem);
	height: calc(100% - .625rem);
	background-position: 50% 0;
	border-radius: .25rem !important;
	z-index: 1;
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 .0625rem, rgba(0, 0, 0, 0.45) 0 0 .3125rem;
}

.menu.main > .menu-tab {
	height: 2.3125rem;
	text-align: center;
	width: calc(100% - 1.875rem);
	padding-left: .9375rem;
	padding-right: .9375rem;
	position: relative;
	text-align: center;

	border-width: 0 0 .0625rem;
	border-style: solid;
	border-image: linear-gradient(
			to right,
			transparent,
			rgba(0, 0, 0, 0.2) 10%,
			rgba(0, 0, 0, 0.2) 90%,
			transparent
		)
		0 1 100%;
}

.menu.main > .menu-tab-bar {
	width: 2.8125rem;
	height: .125rem;
	top: 2.1875rem;
	position: absolute;
	background-color: rgb(0, 133, 255);
	transition: transform 0.3s;
	left: 0;
}

.menu.main > .menu-tab > div {
	display: inline-block;
	height: 2rem;
	line-height: 1.875rem;
	padding-top: .3125rem;
	width: 2.8125rem;
	margin-left: .3125rem;
	margin-right: .3125rem;
	transition: color 0.5s;
}

.menu.main > .menu-tab > div:not(.active):not(*:hover),
.menu.main > .menu-tab > .disabled {
	color: rgba(255, 255, 255, 0.6);
}

.menu.main > .menu-content {
	height: calc(100% - 2.375rem);
	position: relative;
	width: 100%;
}

.menu.main > .menu-content > div {
	width: 100%;
	height: 100%;
}

.menu.main > .menu-content > div > .pane {
	position: absolute;
	display: inline-block;
	height: 100%;
}

.menu.main > .menu-content > div > .left.pane {
	width: 34%;
	left: 0;
	overflow: scroll;
}

.menu.main > .menu-content > div > .left.pane > div {
	width: calc(100% - 1.875rem);
	margin-top: .5625rem;
	margin-left: .625rem;
	transition: all 0.3s;
	height: 1.4375rem;
	font-size: 1.625rem;
	line-height: 1.625rem;
	white-space: nowrap;
}

.menu.main > .menu-content > div > .left.pane > .menubutton.off {
	opacity: 0.5;
}

.menu.main > .menu-content > div > .left.pane > .lefttext {
	font-family: "xinwei";
	font-size: 1.25rem;
}

.menu.main > .menu-content > div > .left.pane > div:last-child {
	margin-bottom: .5625rem;
}

.menu.main > .menu-content > div > .left.pane.dim > div:not(.active) {
	color: rgba(255, 255, 255, 0.5);
}

.menu.main > .menu-content > div > .right.pane {
	left: 34%;
	width: 66%;
	overflow: scroll;
}

.menu.main > .menu-content > div > .right.pane > div {
	width: calc(100% - .3125rem);
	position: absolute;
	top: 0;
	left: 0;
	padding-left: .3125rem;
	padding-top: .3125rem;
}

.menu.main > .menu-content > div > .right.pane > .expanded {
	padding-bottom: 5rem;
}

.menu.main > .menu-content > div > .right.pane > .expanded.expanded2 {
	padding-bottom: .75rem;
}

.menu.main > .menu-content > div > .right.pane > .morenodes {
	padding-bottom: .625rem;
}

.menu.main > .menu-content > div > .right.pane > div > .config {
	left: .125rem;
	margin-top: .625rem;
	margin-left: .1875rem;
	transition: all 0.3s;
	width: calc(100% - 1.25rem);
	overflow: visible;
	position: relative;
}

.menu.main > .menu-content > div > .right.pane > div > .config.banskilladd {
	height: 3.125rem;
	transition: all 0s;
}

.menu.main > .menu-content > div > .right.pane > div > .config.banskilladd.hidden {
	margin-top: -3.125rem !important;
}

.menu.main > .menu-content > div > .right.pane > div > .config.banskilladd:not(.hidden),
.menu.main > .menu-content > div > .right.pane > div > .config.cardpileadd:not(.hidden) {
	margin-top: 0;
}

.menu.main > .menu-content > div > .right.pane > div > .config.banskilladd > select {
	margin-right: .1875rem;
}

.menu.main > .menu-content > div > .right.pane > div > .config.toggle {
	left: .125rem !important;
	text-align: left !important;
	white-space: nowrap;
}

.menu.main > .menu-content > div > .right.pane > div > .config.toggle.pointerspan.cardpilecfg {
	left: 0rem !important;
}

.menu.main > .menu-content > div > .right.pane > div > .config.indent,
.menu.main > .menu-content > div > .right.pane > div > .config.toggle.indent {
	left: .75rem !important;
	width: calc(100% - 2rem) !important;
}

#window:not(.low_performance)
	.menu.main
	> .menu-content
	> div
	> .right.pane
	> div:not(.expanded)
	> .config.auto-hide,
#window:not(.low_performance) .menu.main > .menu-content > div > .right.pane > div > .config.hidden {
	margin-top: -1.5625rem;
	opacity: 0;
	z-index: -1;
}

#window.low_performance
	.menu.main
	> .menu-content
	> div
	> .right.pane
	> div:not(.expanded)
	> .config.auto-hide,
#window.low_performance .menu.main > .menu-content > div > .right.pane > div > .config.hidden {
	display: none;
	transition-property: transform;
}

.menu.main > .menu-content > div > .menubutton.round {
	left: 20.9375rem;
	top: 12.3125rem;
	z-index: 3;
	transition-property: color, box-shadow;
	transition-duration: 0.3s;
	position: absolute;
}

.menu.main > .menu-content > div > .menubutton.round.glowing {
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 .0625rem, rgba(0, 133, 255, 0.8) 0 0 .625rem, rgba(0, 133, 255, 0.8) 0 0 .9375rem !important;
}

.popup-container.hidden {
	pointer-events: none;
}

.popup-container > .menu {
	position: absolute;
	overflow: scroll;
	max-height: 25rem;
	transition-property: opacity;
}

.popup-container > .menu.visual {
	padding: .3125rem;
	overflow: scroll;
}

.popup-container > .menu > div {
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	padding-left: .625rem;
	padding-right: .625rem;
	position: relative;
	display: block;
	transition: all 0s;
}

.popup-container > .menu.visual > .button.transparent {
	pointer-events: none;
}

.popup-container > .menu.visual > .button.transparent:not(.shown) {
	display: none;
}

.popup-container > .menu.visual > .dashedmenubutton {
	box-shadow: none !important;
	width: 5.375rem;
	height: 5.375rem;
	border: .125rem dashed rgb(40, 40, 40);
}

.popup-container > .menu.visual > .controlbutton {
	height: 1.625rem;
	border-radius: .25rem;
}

.popup-container > .menu.visual > .controlbutton.dashedmenubutton {
	height: 1.375rem;
}

.popup-container > .menu.visual > .controlbutton.dashedmenubutton > div {
	line-height: 1.375rem;
}

.popup-container > .menu.visual > .controlbutton > div {
	width: 100%;
	height: 100%;
	left: 0 !important;
	top: 0 !important;
	font-size: 1.25rem;
	margin: 0;
	padding: 0;
	text-align: center;
	line-height: 1.625rem;
}

.popup-container > .menu.visual > .controlbutton > div > br {
	display: none;
}

.popup-container > .menu.visual > .hpbutton {
	width: 3.75rem;
	height: 3.75rem;
	overflow: hidden;
}

.popup-container > .menu.visual > .hpbutton > div {
	width: 1.875rem;
	height: 1.875rem;
	margin: 0;
	padding: 0;
	position: absolute;
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.popup-container > .menu.visual > .hpbutton > div:nth-child(1) {
	left: 0;
	top: 0;
}

.popup-container > .menu.visual > .hpbutton > div:nth-child(2) {
	right: 0;
	left: auto;
	top: 0;
}

.popup-container > .menu.visual > .hpbutton > div:nth-child(3) {
	left: 0;
	bottom: 0;
	top: auto;
}

.popup-container > .menu.visual > .hpbutton > div:nth-child(4) {
	right: 0;
	left: auto;
	bottom: 0;
	top: auto;
}

.popup-container > .menu.visual > .hpbutton > div > div {
	width: 60%;
	height: 60%;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 20%;
	top: 20%;
	border-radius: 100%;
	box-shadow: rgba(0, 0, 0, 0.2) .0625rem -0.0625rem .125rem inset, rgba(255, 255, 255, 0.15) -0.0625rem .0625rem .3125rem inset;
	filter: brightness(1.5);
	-webkit-filter: brightness(1.5);
}

.popup-container > .menu.visual > .hpbutton > div:nth-child(1) > div {
	background: rgba(57, 123, 4, 1);
	border: .0625rem solid rgba(39, 79, 7, 1);
}

.popup-container > .menu.visual > .hpbutton > div:nth-child(2) > div {
	background: rgba(166, 140, 6, 1);
	border: .0625rem solid rgba(79, 64, 7, 1);
}

.popup-container > .menu.visual > .hpbutton > div:nth-child(3) > div {
	background: rgba(148, 27, 27, 1);
	border: .0625rem solid rgba(79, 7, 7, 1);
}

.popup-container > .menu.visual > .hpbutton > div:nth-child(4) > div {
	background: rgba(57, 123, 4, 1);
	border: .0625rem solid rgba(39, 79, 7, 1);
}

.themebutton > div {
	width: 3.125rem;
	height: 4.75rem;
	top: .4375rem;
	right: .4375rem;
	border-radius: .25rem;
}

.themebutton > div > div {
	width: calc(100% - .625rem);
	height: .75rem;
	display: block;
	margin-left: .3125rem;
	margin-top: .375rem;
	position: relative;
	border-radius: .125rem;
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 .0625rem, rgba(0, 0, 0, 0.3) 0 0 .3125rem;
	transition: all 0s;
}

.themebutton > div:first-child {
	z-index: 2;
}

.themebutton.woodden {
	background: url("../../theme/woodden/grid.png"), linear-gradient(#6c7989, #434b55) fixed;
}

.themebutton.woodden > div:not(*:first-child) {
	background: url("../../theme/woodden/wood2.png");
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 .0625rem, rgba(0, 0, 0, 0.45) 0 .1875rem .625rem;
}

.themebutton.woodden > div.fakeplayer:not(*:first-child) {
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 .0625rem, rgba(0, 0, 0, 0.45) 0 0rem .625rem;
}

.themebutton.woodden > div > div {
	background: url("../../theme/woodden/wood.png");
}

.themebutton.woodden > div > div.active {
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 .0625rem, rgba(0, 133, 255, 0.4) 0 0 0 .125rem, rgba(0, 133, 255, 1) 0 0 .3125rem !important;
}

.themebutton.music {
	background: url("../../theme/music/grid.png"), linear-gradient(#333333, #222222) fixed;
}

.themebutton.music > div:not(*:first-child) {
	background: linear-gradient(#4b4b4b, #464646);
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 .0625rem, rgba(0, 0, 0, 0.2) 0 .1875rem .625rem;
}

.themebutton.music > div > div {
	background: linear-gradient(#4b4b4b, #464646);
}

.themebutton.ol {
	background: url("../../image/background/ol_bg.jpg");
	background-size: cover;
}

.themebutton.ol > div:not(*:first-child) {
	background: linear-gradient(#4b4b4b, #464646);
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 .0625rem, rgba(0, 0, 0, 0.2) 0 .1875rem .625rem;
}

.themebutton.ol > div > div {
	background: linear-gradient(#4b4b4b, #464646);
}

.themebutton.simple {
	background: url("../../image/background/ol_bg.jpg");
	background-size: cover;
}

.themebutton.simple > div:not(*:first-child) {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
	box-shadow: rgba(0, 0, 0, 0.4) 0 0 0 .0625rem, rgba(0, 0, 0, 0.2) 0 .1875rem .625rem;
}

.themebutton.simple > div > div {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.themebutton.simple > div > div.active,
.themebutton.music > div > div.active {
	background-image: linear-gradient(rgba(47, 101, 150, 1), rgba(43, 90, 132, 1));
}

.themebutton > div > div:first-child {
	margin-top: .3125rem;
}

.themebutton > .fakeplayer > .avatar {
	width: calc(100% - .125rem);
	height: calc(100% - .125rem);
	left: .0625rem;
	top: .0625rem;
	border-radius: .125rem;
	position: absolute;
	margin: 0 !important;
	padding: 0;
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 .0625rem inset;
}

.themebutton > .fakeplayer.oldlayout > .avatar {
	width: calc(50% - .125rem);
}

.themebutton > .fakeplayer.me > .avatar {
	width: 1.375rem;
	height: 1.375rem;
	left: .1875rem;
	top: 0;
	box-shadow: none;
	border-radius: 0rem;
}

.themebutton > .fakeplayer.me {
	clip-path: polygon(-0.625rem 0, 2rem 0, 2rem 2rem, -0.625rem 2rem);
	-webkit-clip-path: polygon(-0.625rem 0, 2rem 0, 2rem 2rem, -0.625rem 2rem);
}

.themebutton > div > div > div {
	width: 200%;
	height: 200%;
	left: 0;
	top: 0;
	transform: scale(0.5);
	color: white;
	box-shadow: black 0 0 .125rem;
	transform-origin: top left;
	line-height: 1.5rem;
	text-align: center;
	box-shadow: none !important;
}

.themebutton.woodden > div > div > div {
	color: rgba(77, 60, 51, 0.8);
	text-shadow: none;
}

#window:not(.nopointer) .popup-container > .menu > div {
	cursor: pointer;
}

.popup-container > .menu.visual > div {
	display: inline-block;
	margin: .3125rem !important;
	padding: 0 !important;
	width: 5.625rem;
	height: 5.625rem;
}

.popup-container > .menu.visual.withbar > div:last-child {
	display: block;
	width: calc(100% - .625rem);
	text-align: center;
	height: auto;
	cursor: default !important;
}

.popup-container > .menu.visual.withbar > div:last-child > div {
	display: inline-block;
	position: relative;
	margin-left: .3125rem;
	margin-right: .3125rem;
}

.popup-container > .menu.visual.withbar > div:not(.showdelete) > .deletebutton {
	display: none;
}

.popup-container > .menu.visual.withbar > div.hideadd > .addbutton {
	display: none;
}

.popup-container > .menu.visual.withbar > div.showdelete > div:first-child:not(.addbutton) {
	display: none;
}

#window:not(.nopointer) .popup-container > .menu.visual.withbar > div:last-child > div {
	cursor: pointer;
}

input.fileinput {
	margin: 0 !important;
	padding: 0 !important;
	position: absolute !important;
	width: 100% !important;
	height: 100% !important;
	left: 0 !important;
	top: 0 !important;
	opacity: 0 !important;
}

input.fileinput::-webkit-file-upload-button {
	cursor: pointer;
}

#window:not(.nopointer) input.fileinput {
	cursor: pointer;
}

.popup-container > .menu.visual > .button.character > .name {
	top: .625rem;
}

.popup-container > .menu > div:first-child {
	margin-top: .3125rem;
}

.popup-container > .menu > div:last-child {
	margin-bottom: .3125rem;
}

.config {
	/* height: 1.5625rem; */
	line-height: 1.5625rem;
	position: relative;
}

#window:not(.nopointer) .config.switcher > div,
#window:not(.nopointer) .config.toggle > div {
	cursor: pointer;
}

.config.switcher > div,
.config.toggle > div {
	position: absolute;
	right: 0;
	left: auto;
	display: inline-block;
	transition: all 0.3s;
	height: 1.5625rem;
}

.config.switcher > div {
	border-bottom-width: .125rem;
	border-bottom-style: solid;
	border-bottom-color: transparent;
	margin-right: .25rem;
}

.config.switcher.on > div {
	border-bottom-color: rgb(0, 133, 255);
}

.config.toggle > div {
	width: 3.75rem;
}

.config.toggle > div > div {
	display: inline-block;
	position: relative;
	width: 1.5625rem;
	height: 1.5625rem;
	top: 0;
	left: 0;
	transition: all 0.3s;
	padding: 0;
}

.config.toggle.on > div > div {
	left: calc(100% - 1.5625rem);
}

.config.more {
	z-index: 1;
}

.config.more > div {
	display: inline-block;
	transition: transform 0.3s;
}

.config.more > div {
	transform: translateY(-0.125rem);
	font-family: "huangcao", "xinwei";
}

.config.more.on > div {
	transform: rotate(90deg) translateX(-0.125rem);
}

.menubutton {
	text-align: center;
	display: inline-block;
	padding: .3125rem;
}

.menubutton.large {
	font-size: 1.875rem;
	line-height: 1.875rem;
	font-family: "STXinwei", "xinwei";
}

.menubutton.round {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 100%;
	font-size: 2.25rem;
	line-height: 2.5rem;
	font-family: "xinwei";
}

.menubutton.left {
	float: left;
}

.menubutton.right {
	float: right;
}

.menubutton.search {
	text-align: left;
}

.menubutton.search:not(.focus) {
	color: rgba(255, 255, 255, 0.5);
}

.menubutton.dim {
	color: rgba(255, 255, 255, 0.5);
}

@keyframes fadein {
	from {
		opacity: 0;
	}
}

@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
}

@keyframes menuslideup {
	from {
		top: 100%;
	}
}

@-webkit-keyframes menuslideup {
	from {
		top: 100%;
	}
}

@keyframes menuslidedown {
	to {
		top: 100%;
	}
}

@-webkit-keyframes menuslidedown {
	to {
		top: 100%;
	}
}

@keyframes menuzoomin {
	from {
		transform: scale(0.5);
		opacity: 0;
		transform-origin: .125rem -2.1875rem;
	}

	to {
		transform-origin: .125rem -2.1875rem;
	}
}

@-webkit-keyframes menuzoomin {
	from {
		transform: scale(0.5);
		opacity: 0;
		transform-origin: .125rem -2.1875rem;
	}

	to {
		transform-origin: .125rem -2.1875rem;
	}
}

@keyframes menuzoomout {
	from {
		transform-origin: .125rem -2.1875rem;
	}

	to {
		transform: scale(0.5);
		opacity: 0;
		transform-origin: .125rem -2.1875rem;
	}
}

@-webkit-keyframes menuzoomout {
	from {
		transform-origin: .125rem -2.1875rem;
	}

	to {
		transform: scale(0.5);
		opacity: 0;
		transform-origin: .125rem -2.1875rem;
	}
}

.menu-buttons > .new_character {
	display: block;
	position: relative;
	width: 100%;
}

.menu-buttons > .new_character > .avatar {
	background-size: cover;
}

.menu-buttons > .new_character > .avatar,
.menu-buttons > .new_character > .card {
	top: .5rem;
	left: .75rem;
	position: absolute;
	width: 6.25rem;
	height: 8.125rem;
	margin: 0;
}

.menu-buttons > .new_character > .card {
	height: 6.25rem;
}

.menu-buttons > .new_character > .card:not(.fullskin) {
	color: white;
	text-shadow: black 0rem 0rem .125rem;
	transform: translateX(0rem);
	background-image: url("image/card/hslingjian_jinjilengdong.jpg");
	background-size: cover;
}

.menu-buttons > .new_character > .avatar > input,
.menu-buttons > .new_character > .card > input {
	z-index: 3;
	border-radius: .5rem;
	opacity: 0;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
}

#window[data-radius_size="reduce"] .menu-buttons > .new_character > .avatar > input,
#window[data-radius_size="reduce"] .menu-buttons > .new_character > .card > input {
	border-radius: .25rem;
}

#window[data-radius_size="off"] .menu-buttons > .new_character > .avatar > input,
#window[data-radius_size="off"] .menu-buttons > .new_character > .card > input {
	border-radius: 0rem;
}

#window[data-radius_size="increase"] .menu-buttons > .new_character > .avatar > input,
#window[data-radius_size="increase"] .menu-buttons > .new_character > .card > input {
	border-radius: 1rem;
}

.menu-buttons > .new_character > .avatar > .select_avatar,
.menu-buttons > .new_character > .card > .select_avatar {
	font-family: "xinwei";
	font-size: 1.25rem;
	width: 100%;
	height: 1.25rem;
	line-height: 1.25rem;
	top: 3.4375rem;
	left: 0;
	text-align: center;
}

.menu-buttons > .new_character > .card > .select_avatar {
	top: 2.5rem;
}

.menu-buttons > .new_character > .avatar.inited > .select_avatar,
.menu-buttons > .new_character > .card.inited > .select_avatar {
	display: none;
}

.menu-buttons > .new_character > .indent {
	display: block;
	margin-left: 7.6875rem;
	width: calc(100% - 8.4375rem);
	position: relative;
	padding-top: .4375rem;
	text-align: left;
	white-space: nowrap;
}

.menu-buttons > .new_character > .indent > input {
	width: 3.75rem;
}

.menu-buttons > .new_character > div > select {
	margin-right: .1875rem;
}

.menu-buttons > .new_character > .die_audio {
	position: absolute;
	left: .75rem;
	top: 10rem;
	height: 2.8125rem;
	width: calc(100% - .75rem);
}

.menu-buttons > .new_character > .die_audio > input {
	width: calc(100% - 6.25rem);
}

.menu-buttons > .new_character > .die_audio > button {
	margin-right: .75rem;
}

.menu-buttons > .new_character > .add_skill {
	position: absolute;
	left: .75rem;
	top: 15.625rem;
	text-align: left;
	line-height: 1.25rem;
	white-space: nowrap;
}

.menu-buttons > .new_character > .add_skill.options {
	top: 12.8125rem;
}

.menu-buttons > .new_character > .add_skill.options > span {
	margin-right: .625rem;
}

.menu-buttons > .new_character > .add_skill.create {
	top: 13.75rem;
}

.menu-buttons > .new_character > .add_skill.create > div {
	position: relative;
}

.menu-buttons > .new_character > .add_skill.create > div.hidden {
	display: none;
}

.menu-buttons > .new_character > .add_skill.create > div > textarea {
	resize: none;
	width: 12.5rem;
	height: 6.25rem;
	margin-top: .3125rem;
}

.menu-buttons > .new_character > .add_skill.create > div > div {
	position: relative;
	margin-top: .3125rem;
}

.menu-buttons > .new_character > .add_skill.create > div > div > input {
	width: 7.5rem;
}

.menu-buttons > .new_character > .skill_list {
	position: absolute;
	left: .75rem;
	top: 16.5625rem;
	text-align: left;
	height: auto;
	width: calc(100% - 1.25rem);
	padding-bottom: 1.875rem;
	transition: all 0s;
}

.menu-buttons > .new_character > .skill_list > div {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	height: auto;
}

.menu-buttons > .new_character > .skill_list > div > div {
	position: relative;
}

.menu-buttons > .new_character > .skill_list > div:first-child {
	margin-bottom: .625rem;
}

.menu-buttons > .new_character > .skill_list > div:first-child > div {
	width: calc(50% - .625rem);
	margin-right: .625rem;
	margin-top: .375rem;
}

.menu-buttons > .new_character > .skill_list > div:first-child > div > div {
	position: relative;
}

.menu-buttons > .new_character > .skill_list > div:first-child > div > div:last-child {
	float: right;
}

.menu-buttons > .new_character.export {
	text-align: left;
}

.menu-buttons > .new_character.export > div {
	position: relative;
	margin-left: .75rem;
	margin-top: .3125rem;
}

.menu-buttons > .new_character.export > div > input {
	width: 6.25rem;
	margin-right: .3125rem;
}

.menu-buttons > .new_character.export.import > div > input {
	width: 9.5625rem;
}

.menubutton {
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 .0625rem, rgba(0, 0, 0, 0.2) 0 .1875rem .625rem;
	border-radius: .25rem;
	background-image: linear-gradient(rgba(75, 75, 75, 1), rgba(70, 70, 70, 1));
}

.menubutton.large.blue,
.menubutton.large.red,
.redbg {
	color: white !important;
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 .0625rem, rgba(0, 0, 0, 0.3) 0 .1875rem .625rem !important;
}

.menubutton.active,
.menubutton.blue {
	background-image: linear-gradient(rgba(47, 101, 150, 1), rgba(43, 90, 132, 1));
}

.tdnodes.selected,
.text.selected,
.bluebg {
	background-image: linear-gradient(rgba(47, 101, 150, 1), rgba(43, 90, 132, 1)) !important;
}

#system > div > .pressdown {
	transform: scale(0.97);
}

.control:not(.disabled) {
	transition: all 0.1s;
}

.control:not(.disabled).controlpressdownx {
	transition: all 0.5s;
}

#system > div > .pressdown2 {
	background-image: linear-gradient(rgba(47, 101, 150, 1), rgba(43, 90, 132, 1));
}

.menubutton.highlight,
.menubutton.red {
	background-image: linear-gradient(rgba(150, 47, 47, 1), rgba(132, 43, 43, 1));
}

.menubutton.large.active,
.menubutton.large.lighlight {
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 .0625rem, rgba(0, 0, 0, 0.3) 0 .1875rem .625rem;
}

.config.toggle > div {
	border-radius: 1.5625rem;
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 .0625rem, rgba(0, 0, 0, 0.2) 0 0 .625rem inset;
}

.config.toggle.on > div {
	background-color: rgba(47, 101, 150, 1);
}

.config.toggle > div > div {
	border-radius: 1.5625rem;
	background-image: linear-gradient(rgba(75, 75, 75, 1), rgba(70, 70, 70, 1));
	box-shadow: rgba(51, 51, 51, 1) 0 0 0 .0625rem, rgba(0, 0, 0, 0.2) 0 .1875rem .625rem;
}

.popup-container > .menu:not(.visual) > div:hover {
	color: white;
	background-image: linear-gradient(rgba(47, 101, 150, 1), rgba(43, 90, 132, 1));
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 .0625rem;
}

.videonode.menubutton {
	width: calc(100% - 3.125rem);
	height: 4.375rem;
	margin-bottom: .375rem;
	margin-left: -0.625rem;
	margin-top: .375rem;
	overflow: hidden;
}

.videonode.menubutton.extension {
	text-align: left;
	height: auto;
	max-height: 5.625rem;
}

.videonode.menubutton.extension.current {
	max-height: 25rem;
}

.videonode.menubutton > div {
	position: absolute;
}

.videonode.menubutton.extension > div {
	position: relative;
	display: block;
}

#window:not(.nopointer)
	.videonode.menubutton.extension
	> .caption
	> .menubutton:not(.transparent2):not(.nopointer) {
	cursor: pointer;
}

.videonode.menubutton.extension > .caption > .menubutton {
	position: relative;
	float: right;
	font-size: 1rem;
	padding: 0;
	text-align: center;
	width: 5rem;
	font-family: "STHeiti", "SimHei", "Microsoft JhengHei", "Microsoft YaHei", "WenQuanYi Micro Hei",
		Helvetica, Arial, sans-serif;
}

.videonode.menubutton.extension > .caption > .menubutton > a {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0;
	cursor: pointer;
	position: absolute;
}

.videonode.menubutton > .videoavatar {
	width: 3.5rem;
	height: 3.5rem;
	top: .4375rem;
	left: .4375rem;
	background-size: cover;
}

.videonode.menubutton > .videoavatar2 {
	width: 1.25rem;
	height: 1.25rem;
	top: 2.9375rem;
	left: .1875rem;
	background-size: cover;
	border-radius: 100%;
}

.videonode.menubutton > .caption {
	display: inline-block;
	left: 5.25rem;
	top: .375rem;
	padding-top: 0;
	white-space: nowrap;
}

.videonode.menubutton.extension > .caption {
	left: 0;
	top: 0;
	margin-left: .125rem;
}

.videonode.menubutton > .text {
	font-size: .875rem;
	left: 5.3125rem;
	top: 2.1875rem;
	line-height: 1.25rem;
	text-align: left;
	font-family: "STHeiti", "SimHei", "Microsoft JhengHei", "Microsoft YaHei", "WenQuanYi Micro Hei",
		Helvetica, Arial, sans-serif;
}

.videonode.menubutton.extension > .text {
	left: 0;
	top: 0;
	margin-left: .3125rem;
}

.videonode.menubutton.extension > .text.author > span {
	/*float: right;*/
	position: absolute;
	right: 0;
	top: 0;
	transform: translateY(.125rem) scale(0.7);
	width: 5rem;
	text-align: center;
	opacity: 0;
}

.videonode.menubutton.extension.current > .text.author > span {
	opacity: 1;
}

.videonode.menubutton > .victory {
	font-family: "huangcao", "xinwei";
	font-size: 1.5625rem;
	text-shadow: black 0 0 .0625rem, rgba(255, 203, 0, 1) 0 0 .125rem, rgba(255, 203, 0, 1) 0 0 .3125rem,
		rgba(255, 203, 0, 1) 0 0 .3125rem, rgba(255, 203, 0, 1) 0 0 .3125rem, black 0 0 .0625rem;
	color: white;
	position: absolute;
	left: 3rem;
	top: 3rem;
}

.videonode > .video_star {
	opacity: 0;
	position: absolute;
	left: 12.25rem;
	top: .25rem;
	font-size: 1rem;
	width: 1.25rem;
	height: 1.25rem;
	line-height: 1.25rem;
	text-align: center;
}

.videonode:not(.starred):hover > .video_star {
	opacity: 0.5;
}

.videonode.starred > .video_star {
	opacity: 1;
}

.onlineclient .videonode {
	margin: .3125rem;
	padding: 0;
	width: calc(100% - 1.25rem);
	height: 1.875rem;
	overflow: visible;
	border-top-left-radius: .625rem;
	border-bottom-left-radius: .625rem;
}

.onlineclient .videonode > .videoavatar {
	padding: 0;
	left: -0.25rem;
	top: -0.125rem;
	width: 2.125rem;
	height: 2.125rem;
	border-radius: 100%;
}

.onlineclient .videotext {
	margin-top: 0rem;
	font-size: .875rem;
	width: calc(100% - 1.875rem);
}

.onlineclient .onlineevent.videotext {
	margin-top: .125rem;
}

.onlineclient .videonode > .name {
	left: 2.1875rem;
	max-width: 7.8125rem;
	overflow: hidden;
	white-space: nowrap;
	text-align: left;
	height: 1.875rem;
	line-height: 1.875rem;
	font-size: 1.125rem;
	font-family: "lishu", "xinwei";
}

.onlineclient .videonode.videonodestatus {
	height: auto;
}

.onlineclient .videonode.videonodestatus > .videostatus {
	position: relative;
	display: block;
	margin-left: .625rem;
	margin-top: 1.875rem;
	margin-bottom: .3125rem;
	width: calc(100% - 1.25rem);
}

.onlineevent > div {
	text-align: left;
	position: relative;
	display: block;
	margin-top: .3125rem;
	margin-bottom: .3125rem;
}

.onlineevent > div.title {
	font-family: "xinwei";
	font-size: 1.125rem;
}

.button-downloading > .button-progress {
	width: 100%;
	border-radius: .25rem;
	z-index: 1;
	overflow: hidden;
}

.button-downloading > .button-progress > div {
	width: 0;
	height: 100%;
	position: absolute;
	left: 0rem;
	top: 0rem;
	border-radius: 0rem;
	background: linear-gradient(rgb(29, 206, 68), rgb(1, 148, 46));
}

.button-downloading > div:not(.button-progress) {
	width: 100% !important;
	z-index: 2;
}

.button-downloading > span {
	opacity: 0;
}

.button-downloading > div {
	height: 100%;
	margin: 0 !important;
	padding: 0 !important;
	position: absolute !important;
	left: 0 !important;
	top: 0;
}

.menu-buttons .file-container {
	position: absolute;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: scroll;
}

.menu-buttons .file-container > div {
	position: relative;
	left: 0;
	display: block;
	margin: .75rem;
	margin-bottom: .9375rem;
	white-space: nowrap;
	text-align: left;
}

.menu-buttons .file-container > div > span {
	cursor: pointer;
	text-decoration: underline;
}

.menu-buttons .file-container > div > img {
	display: block;
	margin-top: .3125rem;
}

.menubutton.large.dashboard {
	width: 5rem;
	height: 5rem;
	margin: .375rem;
	position: relative !important;
}

.menubutton.large.dashboard.dashboard2 {
	width: 3.75rem;
	height: 3.75rem;
	margin: .3125rem;
	margin-top: .625rem;
}

.menubutton.large.dashboard.dashboard2 > div:first-child {
	font-size: 2.5rem;
	line-height: 2.5rem;
}

.menubutton.large.dashboard.dashboard2 > div:last-child {
	font-size: 1rem;
	white-space: nowrap;
}

.menubutton.large.dashboard > div:first-child {
	font-family: "lishu", "xiaozhuan";
	font-size: 3.75rem;
	line-height: 3.75rem;
	position: absolute;
	left: 0;
	top: .4375rem;
	width: 100%;
	height: 3.75rem;
}

.menubutton.large.dashboard > div:last-child {
	font-size: 1.125rem;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

.favmode {
	float: right;
}

#create-extension {
	height: calc(100% - .3125rem);
	width: calc(100% - .625rem);
	overflow: hidden;
}

#create-extension > div {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: scroll;
	left: 0;
	top: 0;
}

#create-extension > .menu-buttons {
	left: .625rem;
	height: calc(100% - .3125rem);
	width: calc(100% - .9375rem) !important;
}

#create-extension > .menu-buttons > .config.more {
	margin-left: 0rem !important;
	margin-top: .625rem !important;
}

#create-extension > .menu-buttons > .config.more.margin-bottom {
	margin-left: 0rem !important;
	margin-top: .625rem !important;
	margin-bottom: .3125rem !important;
}

#create-extension > .hidden {
	pointer-events: none;
}

#create-extension > div:not(*:first-child).hidden {
	transform: translateX(12.5rem);
}

#create-extension > .menu-buttons > .new_character > .skill_list {
	top: 18.125rem;
}

#create-extension > .menu-buttons > .new_character > .skill_list > div:first-child {
	transition: all 0s;
}

#create-extension > .menu-buttons > .new_character > .skill_list > div:first-child:not(*:empty) {
	margin-top: .625rem;
	margin-bottom: .625rem;
}

#create-extension > .menu-buttons > .new_character > .skill_list > div:first-child > button {
	margin-right: .1875rem;
	margin-bottom: .1875rem;
}

div.popup-container.editor,
div.popup-container.editor div {
	transition: none;
}
.popup-container.editor > div {
	width: 80%;
	height: 90%;
	position: absolute;
	left: 10%;
	top: 5%;
	border-radius: .25rem;
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 .0625rem, rgba(0, 0, 0, 0.45) 0 0 .625rem;
	background: white;
	overflow: hidden;
}

.popup-container.editor > div > .editbutton {
	font-family: "lishu";
	font-size: 1.125rem;
	color: rgb(60, 60, 60);
	text-shadow: none;
	position: absolute;
	left: 0;
	padding: .4375rem;
	font-size: 1.5rem;
	cursor: pointer;
}

.popup-container.editor > div > .editbutton:not(:first-child) {
	position: relative;
}

.popup-container.editor > div > .editbutton:first-child {
	left: auto;
	right: 0;
}

.popup-container.editor > div > div:last-child {
	width: 100%;
	height: calc(100% - 2.5rem);
	position: absolute;
	top: 2.5rem;
	left: 0rem;
	border-radius: 0 0 .25rem .25rem;
	border-top: .0625rem solid rgba(0, 0, 0, 0.2);
}

.popup-container.editor > div > div:last-child > textarea {
	width: 100%;
	height: 100%;
	border: none;
	margin: 0;
	padding: 0;
	resize: none;
}

.menubutton.large.new_card,
.menubutton.large.new_card_delete {
	left: .75rem;
	top: 8.125rem;
	margin-bottom: 1.25rem;
}

.menubutton.large.new_card_delete {
	left: 9.6875rem;
}

.edit_pile {
	width: 100%;
	left: 0;
	padding-bottom: 1.25rem;
}

.edit_pile > div:last-child {
	width: 100%;
	position: relative;
}

.edit_pile > div:last-child > button {
	margin-right: .1875rem;
	margin-top: .1875rem;
}

.new_character.new_skill > div {
	position: relative;
	margin-top: .125rem;
	white-space: nowrap;
	overflow: visible;
}

.new_character.new_skill > div > button {
	margin-right: .1875rem;
}

.menu-buttons.new_skill > .menubutton {
	position: relative;
	margin: .3125rem;
}

.new_character.new_skill > .menubutton.large {
	left: .8125rem;
	position: absolute;
	top: 5.5rem;
}

.new_character.new_skill > .menubutton.large.new_card_delete {
	left: 9.6875rem;
}

.popup-container > .prompt-container {
	display: table;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
}

.popup-container > .prompt-container > div {
	height: auto;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	position: relative;
}

.popup-container > .prompt-container > div > div {
	position: relative;
}

.popup-container > .prompt-container > div > div > div {
	display: block;
	width: calc(100% - .625rem);
	margin-top: .9375rem;
	margin-left: .625rem;
	margin-right: .625rem;
	margin-bottom: 0;
	text-align: center;
	position: relative;
	width: 14.375rem;
}

/* .popup-container>.prompt-container>div>div>div:first-child{ */
/*text-align: left;*/
/* } */
.popup-container > .prompt-container > div > div > div:last-child {
	margin-bottom: .9375rem;
}

.popup-container > .prompt-container > div > div > div > input,
.popup-container > .prompt-container > div > div > div > textarea {
	text-align: left;
	width: 100%;
	resize: vertical;
	border: none;
	border-radius: .125rem;
	min-height: 1.25rem;
	box-shadow: rgba(0, 0, 0, 0.2) 0rem 0rem 0rem .0625rem;
}

.popup-container > .prompt-container > div > div > div > .menubutton {
	position: relative;
	margin-left: .375rem;
	margin-right: .375rem;
	font-size: 1.5rem;
	padding-top: .125rem;
	padding-bottom: .125rem;
}

#window:not(.nopointer) .popup-container > .prompt-container > div > div > div > .menubutton {
	cursor: pointer;
}
