#arena.stone > .player.minskin[data-position="4"] {
	top: calc(100% - 19.0625rem);
	left: calc(100% - 7.5rem);
}

#arena.stone > .card[data-position="4"] {
	top: calc(100% - 18.5625rem);
	left: calc(100% - 7rem);
}

#arena.stone > .popup[data-position="4"] {
	top: calc(100% - 21.25rem);
	left: calc(100% - 7rem);
}

#arena.stone > .player.minskin[data-position="6"] {
	top: calc(100% - 19.0625rem);
	left: calc(100% - 16.25rem);
}

#arena.stone > .card[data-position="6"] {
	top: calc(100% - 18.5625rem);
	left: calc(100% - 15.75rem);
}

#arena.stone > .popup[data-position="6"] {
	top: calc(100% - 21.25rem);
	left: calc(100% - 15.75rem);
}

#arena.stone > .player.minskin[data-position="7"] {
	top: calc(100% - 19.0625rem);
	left: 8.75rem;
}

#arena.stone > .card[data-position="7"] {
	top: calc(100% - 18.5625rem);
	left: 9.25rem;
}

#arena.stone > .popup[data-position="7"] {
	top: calc(100% - 21.25rem);
	left: 9.25rem;
}

#arena.stone > .player.minskin[data-position="5"] {
	top: calc(100% - 19.0625rem);
	left: 0;
}

#arena.stone > .card[data-position="5"] {
	top: calc(100% - 18.5625rem);
	left: .5rem;
}

#arena.stone > .popup[data-position="5"] {
	top: calc(100% - 21.25rem);
	left: .5rem;
}

#arena.stone > .player.minskin[data-position="9"] {
	top: 1.875rem;
	left: calc(100% - 7.5rem);
}

#arena.stone > .card[data-position="9"] {
	top: 2.375rem;
	left: calc(100% - 7rem);
}

#arena.stone > .popup[data-position="9"] {
	top: 10rem;
	left: calc(100% - 7rem);
}

#arena.stone > .player.minskin[data-position="11"] {
	top: .625rem;
	left: calc(100% - 16.25rem);
}

#arena.stone > .card[data-position="11"] {
	top: 1.125rem;
	left: calc(100% - 15.75rem);
}

#arena.stone > .popup[data-position="11"] {
	top: 8.75rem;
	left: calc(100% - 15.75rem);
}

#arena.stone > .player.minskin[data-position="10"] {
	top: .625rem;
	left: 8.75rem;
}

#arena.stone > .card[data-position="10"] {
	top: 1.125rem;
	left: 9.25rem;
}

#arena.stone > .popup[data-position="10"] {
	top: 8.75rem;
	left: 9.25rem;
}

#arena.stone > .player.minskin[data-position="8"] {
	top: 1.875rem;
	left: 0;
}

#arena.stone > .card[data-position="8"] {
	top: 2.375rem;
	left: .5rem;
}

#arena.stone > .popup[data-position="8"] {
	top: 10rem;
	left: .5rem;
}

#arena:not(.chess).mobile > .player[data-position="0"] > .name {
	top: 1.875rem;
}

#arena .player > .name {
	top: 2.25rem;
}

#arena.slim_player .player > .name {
	top: 2.0625rem;
}

#arena .player.linked > .name {
	transform: rotate(90deg) translate(7.5rem, -6rem);
}

#arena .player.linked > .name.name2 {
	transform: rotate(90deg) translate(6.125rem, -1.9375rem);
}

#arena.oldlayout .player.linked > .name {
	transform: none !important;
}

#arena.oldlayout .player.linked > .name.name2 {
	transform: none !important;
}

.player.minskin .judges {
	top: .875rem;
}

.player > .identity.menubutton.round {
	padding: 0;
	transform: scale(1.2) translate(-0.125rem, .125rem);
}

.card .wunature {
	top: 4.625rem;
	left: .375rem;
	right: auto;
}

/* .player .equips{ */
/*z-index: 4;*/
/* } */

#arena:not(.chess).mobile .player[data-position="0"]:not(.minskin) > .identity {
	left: 6.25rem;
	top: -0.4375rem;
}

#deck-builder {
	overflow: hidden;
}

#deck-builder > .shadowed.list {
	width: 12.5rem;
	height: 100%;
	right: 0;
	top: 0;
	border-radius: 0rem;
	transform: translateX(12.5rem);
	opacity: 0;
}

#deck-builder.shown > .shadowed.list {
	transform: none;
	opacity: 1;
}

#deck-builder > .shadowed.list > .menubutton.large.create {
	position: absolute;
	bottom: .625rem;
	left: auto;
	right: .625rem;
	margin: 0;
	padding: 0;
	width: 11.25rem;
	height: 3.125rem;
	font-size: 2.25rem;
	line-height: 3.125rem;
	z-index: 2;
}

#deck-builder > .shadowed.list > .list-container {
	width: 100%;
	left: 0;
	height: calc(100% - 3.75rem);
	overflow-y: scroll;
	overflow-x: visible;
	text-align: left;
}

#deck-builder > .shadowed.list > .list-container:not(.deck) {
	z-index: 1;
}

#deck-builder > .shadowed.list > .list-container.deck {
	pointer-events: none;
	opacity: 0;
}

#deck-builder > .shadowed.list > .list-container.deck.shown {
	pointer-events: auto;
	opacity: 1;
}

#deck-builder > .shadowed.list > .list-container.deck > .card {
	zoom: 0.8;
	margin-bottom: .9375rem;
	margin-top: 0;
	transition: all 0s;
}

#deck-builder > .shadowed.list > .list-container.deck > .card:nth-child(2n + 1) {
	margin-left: .9375rem;
}

#deck-builder > .shadowed.list > .list-container.deck > .card:nth-child(2n) {
	margin-left: .4375rem;
}

#deck-builder > .shadowed.list > .list-container.deck > .card:first-child,
#deck-builder > .shadowed.list > .list-container.deck > .card:first-child + div {
	margin-top: .9375rem;
}

.deckitem {
	position: relative;
	width: 10.625rem;
	margin-left: .9375rem;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	margin-top: .9375rem;
	margin-bottom: 0rem;
	text-align: left;
	font-size: 1.5rem;
	line-height: 1.875rem;
	font-family: "xinwei";
	border-radius: 2.5rem .25rem .25rem 2.5rem;
	background-size: cover;
	white-space: nowrap;
	transition: all 0s;
}

#window:not(.nopointer) .deckitem,
#window:not(.nopointer) #deck-builder > .shadowed.list > .menubutton.large.create,
#window:not(.nopointer) #deck-builder > .controls > div:not(*:last-child) {
	cursor: pointer;
}

.dialog .deckitem {
	margin-left: .5rem;
	margin-right: .5625rem;
}

.deckitem.random {
	border-radius: .25rem;
	text-align: center;
}

.deckitem.random > span {
	margin-left: 0;
}

.deckitem:last-child {
	margin-bottom: .9375rem;
}

.deckitem > span {
	margin-left: 2.875rem;
}

.deckitem > .menubutton.round {
	position: absolute;
	left: -0.0625rem;
	top: -0.125rem;
	width: 2.125rem;
	height: 2.125rem;
}

#deck-builder > .shadowed.career {
	width: 15rem;
	height: 15rem;
	right: 13.75rem;
	bottom: 1.25rem;
	opacity: 0;
	transform: scale(0) translateX(18.75rem);
	transform-origin: right bottom;
	transition-duration: 0.3s;
	z-index: 8;
}

#deck-builder > .shadowed.career.shown {
	transform: scale(1) translateX(0);
	opacity: 1;
}

#deck-builder > .shadowed.career > div {
	width: 5rem;
	height: 5rem;
	margin: 0;
	padding: 0;
	position: relative;
	display: inline-block;
}

#deck-builder > .shadowed.career > div > .menubutton.round {
	left: .9375rem;
	top: .3125rem;
}

#deck-builder > .shadowed.career > div > .text {
	font-size: .75rem;
	width: 100%;
	text-align: center;
	top: 3.625rem;
}

#deck-builder > .dialog.fixed {
	left: auto;
	right: 15rem;
	width: calc(100% - 17.5rem);
	/*opacity: 0;*/
	animation: none;
	-webkit-animation: none;
	/*transform: scale(0.8);*/
	/*pointer-events: none;*/
	/*-webkit-animation:dialog_start2 0.5s;*/
	transition: all 0.5s;
}

#deck-builder:not(.shown) > .dialog.fixed {
	opacity: 0;
	transform: scale(0.8);
	pointer-events: none;
}

#deck-builder > .dialog.fixed.shown {
	opacity: 1;
	transform: scale(1);
	pointer-events: auto;
}

#deck-builder > .controls {
	opacity: 0;
	height: 3.125rem;
	width: calc(100% - 12.5rem);
	bottom: .625rem;
	left: 0;
	text-align: right;
	z-index: 9;
	pointer-events: none;
}

#deck-builder > .controls > div {
	position: relative;
	margin-top: .3125rem;
	margin-left: .3125rem;
	margin-right: .3125rem;
}

#deck-builder > .controls > .card-count {
	position: absolute;
	width: 6.25rem;
	height: 100%;
	left: calc(50% - 3.125rem);
	text-align: center;
	font-family: "xinwei";
	font-size: 1.5rem;
	line-height: 3.125rem;
	margin: 0;
}

#deck-builder > .controls > div:last-child {
	margin-right: 2.5rem;
	white-space: nowrap;
	user-select: text;
	-webkit-user-select: text;
}

#deck-builder > .controls.shown {
	opacity: 1;
	pointer-events: auto;
}

#arena > .player.stone_deck {
	transform: scale(1) translateX(6.25rem);
	opacity: 0;
	transition: all 0.5s;
	left: calc(5% + 3.125rem);
	top: calc(50% - 5.625rem);
}

#arena > .player.stone_deck.shown {
	transform: scale(0.8);
	opacity: 1;
}

#arena > .player.stone_deck.shown.removing {
	transform: scale(0.6) translateX(-6.25rem);
}

#arena > .player.stone_deck > div:not(.avatar):not(.avatar2) {
	display: none !important;
}

/*#arena>.skillbar>.skillbartext:hover{
    opacity: 1;
}*/
@keyframes skillbarglow {
	0% {
		box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 .0625rem, rgba(255, 0, 0, 0.4) 0 0 .3125rem;
	}

	50% {
		box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 .0625rem, rgba(255, 0, 0, 0.4) 0 0 .3125rem, rgba(255, 0, 0, 0.4) 0 0 .75rem,
			rgba(255, 0, 0, 1) 0 0 1.875rem, rgba(255, 0, 0, 0.2) 0 0 1.875rem;
	}

	100% {
		box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 .0625rem, rgba(255, 0, 0, 0.4) 0 0 .3125rem;
	}
}

@-webkit-keyframes skillbarglow {
	0% {
		box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 .0625rem, rgba(255, 0, 0, 0.4) 0 0 .3125rem;
	}

	50% {
		box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 .0625rem, rgba(255, 0, 0, 0.4) 0 0 .3125rem, rgba(255, 0, 0, 0.4) 0 0 .75rem,
			rgba(255, 0, 0, 1) 0 0 1.875rem, rgba(255, 0, 0, 0.2) 0 0 1.875rem;
	}

	100% {
		box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 .0625rem, rgba(255, 0, 0, 0.4) 0 0 .3125rem;
	}
}

div[data-career="mage"] {
	background-image: url("../../image/mode/stone/career/mage.png");
	background-size: cover;
}

div[data-career="druid"] {
	background-image: url("../../image/mode/stone/career/druid.png");
	background-size: cover;
}

div[data-career="hunter"] {
	background-image: url("../../image/mode/stone/career/hunter.png");
	background-size: cover;
}

div[data-career="shaman"] {
	background-image: url("../../image/mode/stone/career/shaman.png");
	background-size: cover;
}

div[data-career="paladin"] {
	background-image: url("../../image/mode/stone/career/paladin.png");
	background-size: cover;
}

div[data-career="rogue"] {
	background-image: url("../../image/mode/stone/career/rogue.png");
	background-size: cover;
}

div[data-career="priest"] {
	background-image: url("../../image/mode/stone/career/priest.png");
	background-size: cover;
}

div[data-career="warrior"] {
	background-image: url("../../image/mode/stone/career/warrior.png");
	background-size: cover;
}

div[data-career="warlock"] {
	background-image: url("../../image/mode/stone/career/warlock.png");
	background-size: cover;
}

div[data-career="knight"] {
	background-image: url("../../image/mode/stone/career/knight.png");
	background-size: cover;
}
